{% extends 'categories/base.html' %}
{% load static %}
{% block title %} Comments {% endblock title %}

{% block searchbar %}
<form class="form-inline" action="{% url 'comments:results_post' %}" method="GET">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>
{% endblock searchbar %}

{% block content %}
<br>
{% if user.is_authenticated %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addComment" aria-expanded="false"
    aria-controls="addComment">Create Post</button>

{% else %}
<div class="alert alert-danger">you can't add or view posts unless you are logged in</div>
{% endif %}
<p>Comment{{ posts.count|pluralize }}: {{posts.count}}</p>
<br>
<!-- Add Post -->
<div class="collapse" id="addComment">
    <form id="create-post" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name='title' class="form-control" id='title' placeholder="Optional" maxlength="40">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name='description' class="form-control" id="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            {{form.category}}
        </div>
        <input class="btn btn-success" type="submit" value="Add Comment" name="submit">
    </form>
    <br>
</div>

<!-- end add Post -->
{% for post in posts %}
<div class="card">
    <div class="card-header">
        <a href="{% url 'people:people' post.user.id %}">
            {{ post.user}}
        </a>
        <small class="form-text text-muted">{{ post.post_date }}
            {% if post.category %}
            <a href="{% url 'categories:view_category' post.category.id %}">{{post.category}}</a></small>
        {% endif %}
    </div>
    <div class="card-body">
        {% if post.title %}
        <h5 class="card-title">{{post.title}}</h5>
        {% endif %}
        <p class="card-text text-break">{{ post.description|truncatechars:300 }}</p>
        <a href="{% url 'comments:view_post' post.id %}" class="btn btn-primary">View</a>
    </div>
    <span class="row justify-content-center">
        <!-- Like -->
        <form method="GET" id="likeForm" class="form-inline">
            <button type="submit" name="submit" value="like" title="Like">
                <img src="{% static 'categories/like.png' %}" id="likeButton" width="30" height="30" alt="Like">
            </button>
        </form>


        <span class="m-3" id="id_likes">
            {% if user in post.likes.all %}
            <p style="color:#065FD4;"><b>{{post.likes.count}}</b></p>
            {% else %}
            <p style="color:black;">{{post.likes.count}}</p>
            {% endif %}
        </span>
        <!-- add like script -->
        <script>
            $(document).ready(function () {

                $('#likeForm').click((event) => {
                    event.preventDefault()
                })
                $('#likeButton').click(function (event) {
                    $.ajax({
                        url: "{% url 'comments:post_like_dislike' post.id %}",
                        data: {
                            'submit': 'like',
                        },
                        dataType: 'json',
                        success: function (data) {
                            let likes = "{{post.likes.count}}";
                            let dislikes = "{{ post.dislikes.count }}"
                            if (data.action == 'undislike_and_like') {
                                dislikes -= 1
                                likes++
                                $('#id_dislikes').html('<p style="color:black;">' +
                                    dislikes + '</p>')
                                $('#id_likes').html('<p style="color:#065FD4;"><b>' +
                                    likes + '</b></p>')
                            } else if (data.action == 'unlike') {
                                likes -= 1
                                $('#id_likes').html('<p style="color:#black;"' + likes +
                                    '</p>')
                            } else {
                                likes++
                                $('#id_likes').html('<p style="color:#065FD4;"><b>' +
                                    likes + '</b></p>')
                            }
                        }
                    })
                })

            })
        </script>

        <!-- Dislike -->
        <form action="{% url 'comments:post_like_dislike' post.id %}" method="post" class="form-inline"
            id="dislikeForm">
            {% csrf_token %}
            <button type="submit" id="dislikeButton" name="submit" value="dislike" title="Dislike">
                <img src="{% static 'categories/dislike.png' %}" width="30" height="30" alt="Dislike">
            </button>
        </form>
        <span class="m-3" id="id_dislikes">
            {% if user in post.dislikes.all %}
            <p style="color:#065FD4;"><b>{{post.dislikes.count}}</b></p>
            {% else %}
            <p style="color:black;">{{post.dislikes.count}}</p>
            {% endif %}
        </span>
        <!-- add like script -->
        <script>
            $(document).ready(function () {

                $('#dislikeForm').click((event) => {
                    event.preventDefault()
                })
                $('#dislikeButton').click(function (event) {
                    $.ajax({
                        url: "{% url 'comments:post_like_dislike' post.id %}",
                        data: {
                            'submit': 'dislike',
                        },
                        dataType: 'json',
                        success: function (data) {
                            let likes = "{{post.likes.count}}";
                            let dislikes = "{{ post.dislikes.count }}"
                            if (data.action == 'unlike_and_dislike') {
                                dislikes++
                                likes -= 1
                                $('#id_dislikes').html('<p style="color:#065FD4;"><b>' +
                                    dislikes + '</b></p>')
                                $('#id_likes').html('<p style="color:black;">' +
                                    likes + '</p>')
                            } else if (data.action == 'undislike') {
                                dislikes -= 1
                                $('#id_dislikes').html('<p style="color:#black;"' +
                                    dislikes +
                                    '</p>')
                            } else {
                                dislikes++
                                $('#id_dislikes').html('<p style="color:#065FD4;"><b>' +
                                    dislikes + '</b></p>')
                            }
                        }
                    })
                })

            })
        </script>
    </span>
</div>
{% endfor %}
{% endblock content %}