{% extends 'categories/base.html' %}
{% load static %}
{% block title %}View Comment {% endblock title %}



{% block content %}


{% if post.title %}
<h1 class="text-left">{{post.title}}</h1>
{% endif %}

{% if post.description %}
<div class="container">
    <p>{{post.description}}</p>
</div>
<hr>
{% endif %}

{% if user.hide_comments == False %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="description">Add Answer</label>
        <textarea type="text" name="description" class="form-control" required></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit Answer">
</form>
<br>
{{comments.count}} Answer{{comments.count|pluralize}}
<hr>
{% for comment in comments %}
<div class="card w-75">
    <div class="card-body">
        <h5 style="display: inline;" class="card-title">{{comment.user}}</h5>
        <small style="display: inline;" class="form-text text-muted">{{ comment.comment_date }}</small>
        <br>
        <p class="card-text">{{comment.description}}</p>
    </div>
</div>
<!-- Likes and Dislikes -->
<span class="row justify-content-center">
    <!-- Like -->
    <form action="{% url 'comments:reply_like_dislike' comment.id %}" method="post" class="form-inline">
        {% csrf_token %}
        <button type="submit" name="submit" value="like" title="Like">
            <img src="{% static 'categories/like.WebP' %}" width="30" height="30" alt="Like">
        </button>
    </form>
    <span class="m-3">
        {{comment.likes.count}}
    </span>
    <!-- Dislike -->
    <form action="{% url 'comments:reply_like_dislike' comment.id %}" method="post" class="form-inline">
        {% csrf_token %}
        <button type="submit" name="submit" value="dislike" title="Dislike">
            <img src="{% static 'categories/dislike.WebP' %}" width="30" height="30" alt="Dislike">
        </button>
    </form>
    <span class="m-3">
        {{comment.dislikes.count}}
    </span>
</span>
{% endfor %}
{% else %}
<small class="form-text text-muted">Your Distraction Free settings doesn't allow comments to show up😍</small>
{% endif %}
{% endblock content %}