{% extends 'categories/base.html' %}
{% load static %}
{% block title %}View Comment {% endblock title %}



{% block content %}
<link rel="stylesheet" href="{% static 'comments/view_post.css' %}">
<script src="{% static 'comments/view_post.js' %}"></script>

{% if post.image %}
<a href="{% url 'people:people' post.user.id %}">
    <img src="{{ post.user.avatar.url }}" alt="{{ post.user.username }}" widht="64" height="64" class="mr-3 float-left">
    <span>{{post.user.username}}</span>
</a>
<div class="mb-3">
    <div class="card-body">
        {% if post.description %}
        <p class="card-text">{{post.description|truncatechars:200}}{% if post.description|length > 200%}<a
                href="{% url 'comments:view_post' post.id %}">Read
                More</a>{% endif %}</p>
        {% endif %}
        <img src="{{ post.image.url }}" alt="{{ post.user.username }}" height="250" width="40%">
        <p class="card-text"><small class="form-text text-muted">Published at {{ post.post_date|date:'d M Y' }}</small>
        </p>
    </div>
</div>
<!-- Descriptin only post -->
{% elif post.description and not post.image and not post.post_file %}
<div class="media">
    <a href="{% url 'people:people' post.user.id %}">
        {% if post.user.who_see_avatar == 'everyone' %}
        <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64">
        {% elif post.user.who_see_avatar == 'friends' and user in friends %}
        <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64">
        {% else %}
        <img src="/media/profile_images/DefaultUserImage.WebP" alt="User Image" width="64" height="64">
        {% endif %}
    </a>
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
        vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
        lacinia congue felis in faucibus.
    </div>
</div>
<!-- File post -->
{% elif post.post_file %}
<a href="{% url 'people:people' post.user.id %}">
    <img src="{{ post.user.avatar.url }}" alt="{{ post.user.username }}" widht="64" height="64" class="mr-3 float-left">
    <span>{{post.user.username}}</span>
</a>
<div class="mb-3">
    <div class="card-body">
        {% if post.description %}
        <p class="card-text">{{post.description|truncatechars:200}}{% if post.description|length > 200%}<a
                href="{% url 'comments:view_post' post.id %}">Read
                More</a>{% endif %}</p>
        {% endif %}
        <video width="400" height="320" controls>
            <source src="{{ post.post_file.url }}" type="video/mp4">
            <source src="{{ post.post_file.url }}" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <p class="card-text"><small class="form-text text-muted">Published at {{ post.post_date|date:'d M Y' }}</small>
        </p>
    </div>
</div>
{% endif %}
<span class="row justify-content-center">
    <span><a href="{% url 'comments:view_post' post.id %}" style="text-decoration: none; color:black;"><i
                class="far fa-comment-dots" style="font-size:36px;"></i></a></span>
    <!-- Like -->
    <form method="GET" id="likeForm{{post.id}}" class="form-inline">
        <button type="submit" name="submit" value="like" title="Like" class="btn btn-link">
            <i class="fa fa-thumbs-o-up" aria-hidden="true" style="font-size:36px" id="likeButton{{post.id}}"></i>
        </button>
    </form>
    <span class="m-3" id="id_likes{{post.id}}">
        {% if user in post.likes.all %}
        <p style="color:#065FD4;"><b>{{post.likes.count}}</b></p>
        {% else %}
        <p style="color:black;">{{post.likes.count}}</p>
        {% endif %}
    </span>
    <!-- add like script -->
    <script>
        $(document).ready(function () {

            $('#likeForm{{post.id}}').click((event) => {
                event.preventDefault()
            })
            $('#likeButton{{post.id}}').click(function (event) {
                $.ajax({
                    url: "{% url 'comments:post_like_dislike' post.id %}",
                    data: {
                        'submit': 'like',
                    },
                    method: 'get',
                    dataType: 'json',
                    success: function (data) {
                        let likes = "{{post.likes.count}}";
                        let dislikes = "{{ post.dislikes.count }}"
                        if (data.action == 'undislike_and_like') {
                            dislikes -= 1
                            likes++
                            $('#id_dislikes{{post.id}}').html('<p style="color:black;">' +
                                dislikes + '</p>')
                            $('#id_likes{{post.id}}').html('<p style="color:#065FD4;"><b>' +
                                likes + '</b></p>')
                        } else if (data.action == 'unlike') {
                            likes -= 1
                            $('#id_likes{{post.id}}').html('<p style="color:#black;"' +
                                likes +
                                '</p>')
                        } else {
                            likes++
                            $('#id_likes{{post.id}}').html('<p style="color:#065FD4;"><b>' +
                                likes + '</b></p>')
                        }
                    }
                })
            })

        })
    </script>
    <!-- Dislike -->
    <form action="{% url 'comments:post_like_dislike' post.id %}" method="post" class="form-inline"
        id="dislikeForm{{post.id}}">
        {% csrf_token %}
        <button type="submit" id="dislikeButton{{post.id}}" name="submit" value="dislike" title="Dislike" class="btn">
            <i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size:36px"></i>
        </button>
    </form>
    <span class="m-3" id="id_dislikes{{post.id}}">
        {% if user in post.dislikes.all %}
        <p style="color:#065FD4;"><b>{{post.dislikes.count}}</b></p>
        {% else %}
        <p style="color:black;">{{post.dislikes.count}}</p>
        {% endif %}
    </span>
    <!-- add like script -->
    <script>
        $(document).ready(function () {

            $('#dislikeForm{{post.id}}').click((event) => {
                event.preventDefault()
            })
            $('#dislikeButton{{post.id}}').click(function (event) {
                $.ajax({
                    url: "{% url 'comments:post_like_dislike' post.id %}",
                    data: {
                        'submit': 'dislike',
                    },
                    dataType: 'json',
                    success: function (data) {
                        let likes = "{{post.likes.count}}";
                        let dislikes = "{{ post.dislikes.count }}"
                        if (data.action == 'unlike_and_dislike') {
                            dislikes++
                            likes -= 1
                            $('#id_dislikes{{post.id}}').html(
                                '<p style="color:#065FD4;"><b>' +
                                dislikes + '</b></p>')
                            $('#id_likes{{post.id}}').html('<p style="color:black;">' +
                                likes + '</p>')
                        } else if (data.action == 'undislike') {
                            dislikes -= 1
                            $('#id_dislikes{{post.id}}').html('<p style="color:#black;"' +
                                dislikes +
                                '</p>')
                        } else {
                            dislikes++
                            $('#id_dislikes{{post.id}}').html(
                                '<p style="color:#065FD4;"><b>' +
                                dislikes + '</b></p>')
                        }
                    }
                })
            })

        })
    </script>
</span>
{% if user.hide_comments == False %}
{{comments.count}} Comment{{comments.count|pluralize}}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <textarea type="text" name="description" class="form-control" placeholder="Add comment for this post"
            id="commentInput"></textarea>
    </div>
    <span class="float-right" id="commentCancelButtons">
        <button class="btn btn-secondary" id="cancelCommentButton">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Comment">
    </span>
</form>
<br>
<hr>
{% for comment in comments %}
<div class="card w-75">
    <div class="card-body">
        <h5 style="display: inline;" class="card-title">{{comment.user}}</h5>
        <small style="display: inline;" class="form-text text-muted">{{ comment.comment_date }}</small>
        <br>
        <p class="card-text">{{comment.description}}</p>
    </div>
</div>
<!-- Likes and Dislikes -->
<span class="row justify-content-center">
    <!-- Like -->
    <form action="{% url 'comments:reply_like_dislike' comment.id %}" method="post" class="form-inline">
        {% csrf_token %}
        <button type="submit" name="submit" value="like" title="Like" class="btn btn-link">
            <i class="fa fa-thumbs-o-up" aria-hidden="true" style="font-size:36px"></i>
        </button>
    </form>
    <span class="m-3">
        {{comment.likes.count}}
    </span>
    <!-- Dislike -->
    <form action="{% url 'comments:reply_like_dislike' comment.id %}" method="post" class="form-inline">
        {% csrf_token %}
        <button type="submit" name="submit" value="dislike" title="Dislike" class="btn">
            <i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size:36px"></i>
        </button>
    </form>
    <span class="m-3">
        {{comment.dislikes.count}}
    </span>
</span>
{% endfor %}
{% else %}
<small class="form-text text-muted">Your Distraction Free settings doesn't allow comments to show up😍</small>
{% endif %}
{% endblock content %}