{% extends 'categories/base.html' %}
{% load static %}
{% block title %} {{post.user.username}} {% if post.description %} {{post.description}}{% endif %} | Dfreemedia
{% endblock title %}

{% block description %}
{% if post.description %}
{{post.description}}
{% endif %}
{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'comments/view_post.css' %}">
<script src="{% static 'comments/view_post.js' %}"></script>
<!-- POST ITESLF ////////// -->
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-8 gedf-main float-left">
            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <a href="{% url 'people:view_user' post.user.id %}" target='_blank'>
                                    {% if post.user.who_see_avatar == 'everyone' %}
                                    <img src="{{post.user.avatar.url}}" alt="" width="45" class="rounded-circle"
                                        loading="lazy">
                                    {% elif post.user.who_see_avatar == 'friends' and user in post.user.friends.all %}
                                    <img src="{{post.user.avatar.url}}" alt="" width="45" class="rounded-circle"
                                        loading="lazy">
                                    {% elif post.user == user %}
                                    <img src="{{post.user.avatar.url}}" alt="" width="45" class="rounded-circle"
                                        loading="lazy">
                                    {% else %}
                                    <img src="/media/profile_images/DefaultUserImage.jpg" alt="" width="45"
                                        class="rounded-circle" loading="lazy">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">{{ post.user.username }}</div>
                                <div class="h7 text-muted">{{post.views.count}} Views -
                                    {% if post.category %}{{ post.category.title }} {% else %}other{% endif %}
                                </div>
                            </div>
                        </div>
                        <div>
                            {% if post.user == user %}
                            <div class="dropdown">
                                <button class="btn btn-link" type="button" id="gedf-drop1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <a class="dropdown-item" href="{% url 'comments:delete_post' post.id %}"
                                        onclick="return confirm('Permanently delete {{ post.description|truncatechars:45 }}')">Delete</a>
                                    <a class="dropdown-item" href="{% url 'comments:edit_post' post.id %}">Edit</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post.post_date|timesince }}
                        ago
                    </div>
                    <!-- Title -->
                    <p class="card-link btn-link" href="#">
                        <h5 class="card-title">{{ post.description|truncatechars:45 }}</h5>
                    </p>
                    <!-- Image -->
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt=""
                        style="width:80%; height: auto; margin-left: auto; margin-right: auto;">
                    {% endif %}
                    <!-- File -->
                    {% if post.post_file %}
                    <video controls class="col-md-10 col-lg-8" preload="none">
                        <source src="{{ post.post_file.url }}" type="video/mp4">
                        <source src="{{ post.post_file.url }}" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                    <!-- Description -->
                    {% if post.description and post.description|length > 45 %}
                    <div style="white-space: pre-line" class="mt-2">
                        <p class="card-text" style="white-space: pre-line;">
                            {{ post.description| truncatechars:227 }} {% if post.description|length > 227 %} <p
                                class="btn btn-link" onclick="this.parentElement.innerHTML = `{{ post.description }}`">
                                Read more</p>{% endif %}
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <form method="GET" class="likeForm d-inline" action="{% url 'comments:post_like_dislike' post.id %}"
                        data-pk="{{post.id}}">
                        <button type="submit" class="btn"><i class="far fa-thumbs-up"></i>
                            <span id="id_likes{{post.id}}">
                                {% if user in post.likes.all %}
                                <p style="color:#065FD4;display: inline">{{post.likes.count}}</p>
                                {% else %}
                                <p style="color:black;display: inline">{{post.likes.count}}</p>
                                {% endif %}
                            </span>
                            Like</button>
                    </form>
                    <form action="{% url 'comments:post_like_dislike' post.id %}" method="GET"
                        class="d-inline dislikeForm" data-pk="{{ post.id }}">
                        <button type="submit" class="btn"><i class="far fa-thumbs-down"></i>
                            <span id="id_dislikes{{post.id}}">
                                {% if user in post.dislikes.all %}
                                <p style="color:#065FD4; display: inline;">{{post.dislikes.count}}</p>
                                {% else %}
                                <p style="color:black; display: inline;">{{post.dislikes.count}}</p>
                                {% endif %}
                            </span>
                            Dislike
                        </button>
                    </form>
                    <!-- AddToAny BEGIN -->
                    <a href="https://www.addtoany.com/share#url=https%3A%2F%2Fwww.dfreemedia.com{% url 'comments:view_post' post.id %}&amp;title={{ post.description|truncatechars:45 }}"
                        target="_blank" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    <!-- AddToAny END -->
                </div>
            </div>
            <!-- Post /////-->
            <!-- ///////////// POST ITSELF  -->
            <!-- COMMENTS ///////////// -->
            {% if not user.hide_comments or not user.is_authenticated %}
            {% if user.is_authenticated %}
            <form method="GET" id="commentForm">
                <div class="form-group">
                    <textarea type="text" name="description" class="form-control"
                        placeholder="Add comment for this post" id="commentInput"></textarea>
                </div>
                <span class="float-right" id="commentCancelButtons">
                    <input class="btn btn-primary" type="submit" value="Comment" id="addComment">
                </span>
            </form>
            <br>
            <hr>
            {% endif %}
            <div class="comment-tabs">
                {% for comment in comments %}
                <li class="media">
                    <a href="{% url 'people:view_user' comment.user.id %}">
                        {% if comment.user.who_see_avatar == 'everyone' %}
                        <img src="{{comment.user.avatar.url}}" alt="User Image" width="64" height="64"
                            class="media-object img-circle">
                        {% elif comment.user.who_see_avatar == 'friends' and user in comment.user.friends.all %}
                        <img src="{{comment.user.avatar.url}}" alt="User Image" width="64" height="64"
                            class="media-object img-circle">
                        {% elif comment.user == user %}
                        <img src="{{comment.user.avatar.url}}" alt="User Image" width="64" height="64"
                            class="media-object img-circle">
                        {% else %}
                        <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image" width="64" height="64"
                            class="media-object img-circle">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <div class="well well-lg">
                            <small class="form-text text-muted float-right">
                                {{comment.comment_date}}
                            </small>
                            <h4 class="media-heading reviews">{{comment.user.username}} </h4>
                            <p class="media-comment" id="commentDescription{{comment.id}}">
                                {{comment.description|truncatechars:300}}
                                {% if comment.description|length >= 300 %} <a href="#"
                                    id="commentReadMore{{comment.id}}">Read
                                    More</a>{% endif %}
                            </p>
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    window.addEventListener('load', function () {
                                        $('#commentReadMore{{comment.id}}').click(function (event) {
                                            event.preventDefault()
                                            $('#commentDescription{{comment.id}}').html(
                                                `{{comment.description}}`)
                                        })
                                    })
                                })
                            </script>
                            <a class="btn btn-info btn-circle" href="#" id="addReply{{comment.id}}"><span
                                    class="glyphicon glyphicon-share-alt"></span> Reply</a>
                            <a class="btn btn-warning btn-circle" data-toggle="collapse" href="#replyOne"
                                id="showReplies{{comment.id}}"><span
                                    class="glyphicon glyphicon-comment"></span>{{comment.reply_set.count}}
                                Replies</a>
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    window.addEventListener('load', function () {
                                        $('#showReplies{{comment.id}}').click(function (event) {
                                            event.preventDefault();
                                            $('#replyList{{comment.id}}').slideToggle()
                                        })
                                        $('#replyForm{{comment.id}}').slideToggle()
                                        $('#addReply{{comment.id}}').click(function (event) {
                                            event.preventDefault();
                                            $('#replyForm{{comment.id}}').slideToggle()
                                            $('#showReplies{{comment.id}}').click()
                                        })
                                        $('#cancelCommentReply{{comment.id}}').click(function (event) {
                                            event.preventDefault;
                                            $('#replyForm{{comment.id}}').toggle();
                                            $('#commentReplyInput{{comment.id}}').val('')
                                        })
                                        $('#replyForm{{comment.id}}').submit(function (event) {
                                            event.preventDefault();
                                            $.ajax({
                                                url: "{% url 'comments:create_reply' comment.id %}",
                                                data: {
                                                    'description': $(
                                                            '#commentReplyInput{{comment.id}}'
                                                        )
                                                        .val(),
                                                },
                                                dataType: 'json',
                                                success: function (response) {
                                                    $.ajax({
                                                        url: "{% url 'userpage:get_user_by_id' %}",
                                                        data: {
                                                            'pk': response
                                                                .reply
                                                                .user,
                                                        },
                                                        method: 'get',
                                                        dataType: 'json',
                                                        async: false,
                                                        success: function (
                                                            userResponse
                                                        ) {
                                                            let user =
                                                                userResponse
                                                                .user
                                                            $('#replyList{{comment.id}}')
                                                                .prepend(`
                                                    <li class="media media-replied">
                                <a href="/people/${user.id}">
                                    <img src="${user.avatar}" alt="User Image" width="64"
                                        height="64">
                                </a>
                                <div class="media-body">
                                    <div class="well well-lg">
                                        <h4 class="media-heading reviews"><span
                                                class="glyphicon glyphicon-share-alt"></span> ${user.username}
                                        </h4>
                                        <smal class="form-text text-muted float-right">
                                            ${response.reply.date}
                                        </smal>
                                        <p class="media-comment">
                                            ${response.reply.description}
                                        </p>
                                    </div>
                                </div>
                            </li>
                                                    `)
                                                            $('#commentReplyInput{{comment.id}}')
                                                                .val('')
                                                        }
                                                    })
                                                }
                                            })
                                        })
                                    })
                                })
                            </script>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated %}
                <form action="" method="get" id="replyForm{{comment.id}}" class="col-md-7 col-sm-7">
                    <div class="form-group">
                        <textarea type="text" name="description" class="form-control"
                            placeholder="Add comment for this post" id="commentReplyInput{{comment.id}}"></textarea>
                    </div>
                    <span class="float-right" id="commentCancelButtons">
                        <button class="btn btn-secondary" id="cancelCommentReply{{comment.id}}">Cancel</button>
                        <input class="btn btn-primary" type="submit" value="Comment" id="addCommentReply">
                    </span>
                </form>
                {% else %}
                <div id="replyForm{{comment.id}}">
                    <p class="alert alert-danger">Please login to reply</p>
                </div>
                {% endif %}
                <div class="collapse" id="replyList{{comment.id}}">
                    <ul class="media-list">
                        {% for reply in comment.reply_set.all %}
                        <li class="media media-replied">
                            <a href="{% url 'people:view_user' reply.user.id %}">
                                {% if reply.user.who_see_avatar == 'everyone' %}
                                <img src="{{reply.user.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="media-object img-circle">
                                {% elif reply.user.who_see_avatar == 'friends' and user in reply.user.friends.all %}
                                <img src="{{reply.user.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="media-object img-circle">
                                {% elif reply.user == user %}
                                <img src="{{reply.user.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="media-object img-circle">
                                {% else %}
                                <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image" width="64"
                                    height="64" class="media-object img-circle">
                                {% endif %}
                            </a>
                            <div class="media-body">
                                <div class="well well-lg">
                                    <h4 class="media-heading reviews"><span
                                            class="glyphicon glyphicon-share-alt"></span>
                                        {{reply.user.username}}
                                    </h4>
                                    <small class="form-text text-muted float-right">
                                        {{reply.date}}
                                    </small>
                                    <p class="media-comment">
                                        {{reply.description}}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <small class="form-text text-muted">Your Distraction Free settings doesn't allow comments to show up</small>
        {% endif %}
        <!-- /////////////// COMMENTS -->
        {% if not user.hide_recommended_posts or not user.is_authenticated %}
        <div class="col-md-4 float-right">
            {% if user.is_authenticated %}
            <div class="card-head">Other posts by {{post.user.username}}</div>
            {% else %}
            <div class="alert alert-info">You can hide the recommended posts from the Distraction-Free menu from your <a
                    href="{% url 'userpage:posts' %}">profile</a></div>
            {% endif %}
            <div id="recommendedPosts">
                {% for post in recommended_posts %}
                <a href="{% url 'comments:view_post' post.id %}" class="btn d-block">
                    <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.description|truncatechars:45 }}</h5>
                            <!-- Image -->
                            {% if post.image %}
                            <img src="{{ post.image.url }}" alt=""
                                style="width:80%; height: auto; margin-left: auto; margin-right: auto;">
                            {% endif %}
                            <!-- File -->
                            {% if post.post_file %}
                            <video controls class="col-md-10 col-lg-8" preload="none">
                                <source src="{{ post.post_file.url }}" type="video/mp4">
                                <source src="{{ post.post_file.url }}" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <button class="btn btn-outline-info" id="showMorePosts">Show more</button>
        </div>
        {% endif %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('load', function () {
            $('#commentForm').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: "{% url 'comments:view_post' post.id %}",
                    method: "get",
                    dataType: 'json',
                    data: {
                        'description': $('#commentInput').val(),
                        'action': 'addComment'
                    },
                    success: function (response) {
                        $.ajax({
                            url: "{% url 'userpage:get_user_by_id' %}",
                            data: {
                                'pk': response.comment.user,
                            },
                            method: 'get',
                            dataType: 'json',
                            async: false,
                            success: function (userResponse) {
                                let user = userResponse.user
                                $('.comment-tabs').prepend(`
        <li class="media">
            <a href="/people/${user.id}/">
                <img src="${user.avatar}" alt="User Image" width="64"
                    height="64" class="media-object img-circle">
            </a>
            <div class="media-body">
                <div class="well well-lg">
                    <h4 class="media-heading reviews">${user.username} </h4>
                    <small class="form-text text-muted float-right">
                        ${response.comment.comment_date}
                    </small>
                    <p class="media-comment" id="commentDescription${response.comment.id}">
                        ${response.comment.description}
                    </p>
        `)
                                $('#commentInput').val('')
                            }
                        })
                    }
                })
            })
            // Paginate recommended posts
            let rec_page = 2
            $('#showMorePosts').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'comments:view_post' post.id %}",
                    data: {
                        'rec_page': rec_page
                    },
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {
                        posts = JSON.parse(response.recommended_posts);
                        if (posts.length <= 0) {
                            $('#showMorePosts').html('No posts found');
                            $('#showMorePosts').removeClass('btn-outline-info')
                            $('#showMorePosts').addClass('btn-outline-danger')
                            $('#showMorePosts').click((e) => e.preventDefault())
                        } else {
                            for (post of posts) {
                                let output = `
                                <a href="/comments/${post.pk}/" class="btn d-block">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">${post.fields.description.substring(0, 45)}</h5>
                                `
                                let extraFiles = ''
                                if (post.fields.image) {
                                    extraFiles = `
                        <img src="/media/${ post.fields.image}" alt=""
                            style="width:80%; height: auto; margin-left: auto; margin-right: auto;">
                                    `
                                } else if (post.fields.file) {
                                    extraFiles = `
                        <video controls class="col-md-10 col-lg-8" preload="none">
                            <source src="${post.fields.post_file}" type="video/mp4">
                            <source src="${post.fields.post_file}" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                                    `
                                }

                                output += extraFiles
                                output += `</div>
                </div>
            </a>`
                                $('#recommendedPosts').append(output)
                            }
                        }
                    }
                })
            })
            // End Paginate recommended posts
        })
    })
</script>
{% endblock content %}