{% extends 'categories/base.html' %}
{% load static %}
{% block title %}View Comment {% endblock title %}



{% block content %}

<h1 class="text-left">{{comment.title}}</h1>
<div class="container">
    <p>{{comment.description}}</p>
</div>
<hr>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="description">Add Answer</label>
        <textarea type="text" name="description" class="form-control" required></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit Answer">
</form>
<br>
{{replies.count}} Answer{{replies.count|pluralize}}
<hr>
{% for reply in replies %}
<div class="card w-75">
    <div class="card-body">
        <h5 style="display: inline;" class="card-title">{{reply.user}}</h5> 
        <small style="display: inline;" class="form-text text-muted">{{ reply.reply_date }}</small>
        <br>
        <p class="card-text">{{reply.description}}</p>
    </div>
</div>
<!-- Likes and Dislikes -->
<span class="row justify-content-center">
    <!-- Like -->
    <form action="{% url 'comments:reply_like_dislike' reply.id %}" method="post" class="form-inline">
        {% csrf_token %}
        <button type="submit" name="submit" value="like" title="Like">
            <img src="{% static 'categories/like.png' %}" width="30" height="30" alt="Like">
        </button>
    </form>
    <span class="m-3">
        {{reply.likes.count}}
    </span>
    <!-- Dislike -->
    <form action="{% url 'comments:reply_like_dislike' reply.id %}" method="post" class="form-inline">
        {% csrf_token %}
        <button type="submit" name="submit" value="dislike" title="Dislike">
            <img src="{% static 'categories/dislike.png' %}" width="30" height="30" alt="Dislike">
        </button>
    </form>
    <span class="m-3">
        {{reply.dislikes.count}}
    </span>
</span>
{% endfor %}
{% endblock content %}