/* ---------- */
/* MAIN SETUP */
/* ---------- */
body {
    background-color: white
}

.btn {
    border-radius: 200px;
}

.container {
    font-size: 1.25em;
}

/* --------------- */
/* NAVBAR */
/* --------------- */
.main-nav {
    background-color: #1DA1F2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.main-nav ul {
    white-space: nowrap;
    overflow-x: auto;
}

.main-nav ul li {
    margin-right: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    transition: border-bottom 0.2s;
    padding-bottom: 10px;
}

.main-nav ul li a:hover {
    border-bottom: 1px solid white;
}

.main-dropdown-menu {
    position: fixed;
    top: 0px;
    left: 300px;
    margin-top: 60px
}

@media screen and (max-width: 478px) {
    .main-dropdown-menu {
        left: 50%;
    }
}


.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.navbar .nav-item a {
    color: white !important;
    margin: 5px !important;
    padding: 5px;
    text-align: inherit;
    font: inherit;
    list-style: none;
    text-decoration: none !important;
}

#id_nav_avatar {
    height: auto;
    width: auto;
    max-height: 42px;
    max-width: 42px;
    border-radius: 100%;
}

.nav-item .dropdown-menu .dropdown-item {
    color: black !important;
}

/* ---------Notifications------- */

#notificationBell {
    font-size: 36px;
    color: rgb(209, 202, 202);
    cursor: pointer
}

.unRead {
    color: white;
    background: red;
    border-radius: 50% !important;
    padding: 7px !important;
}


/* ---------------- */
/* FLOAT FORMS */
/* ---------------- */

/* ----------Notifications-------------- */

#notificationsContainer img {
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
}

#notificationsContainer h5 {
    margin-top: 20px !important;
}

#notificationsContainer a {
    text-decoration: none;
    color: black
}

#notifications ul {
    list-style: none;
    padding-left: 0px;
}

/* ----------Feedback-------------- */


#feedback-form input,
#feedback-form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#feedback-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}


/* ----------Auth-------------- */
#signupFloatForm,
#loginFloatForm {
    background: rgba(0, 0, 0, 0.6);
    background-size: cover;
}