{% extends 'categories/base.html' %}
{% load static %}
{% block title %}All Users | Dfreemedia{% endblock title %}

{% block description %}Explore out the new social media platform Dfreemedia community, find and add your
friends.{% endblock description %}

{% block content %}
<style>
    #contact-list {
        list-style: none;
        margin-left: 0px;
    }

    #contact-list li {
        position: relative;
        margin: 30px 30px 50px 30px;
    }

    .addFriend {
        display: inline-block;
        padding: 10px 30px;
        background-color: #55c3ef !important;
        color: white !important;
        font-size: 90% !important;
        border-radius: 200px !important;
        margin-top: 10px;
        transition: background-color 0.2s !important;
    }

    .addFriend:hover,
    .addFriend:active {
        background-color: #36b8ec !important;
    }


    .userDesc {
        display: block;
        margin-left: 20px
    }

    .userDesc span {
        letter-spacing: 1px;
        word-spacing: 4px
    }

    /* --------------------- */
    /* Search */
    /* --------------------- */

    #search {
        display: inline-block;
        margin: 30px auto 30px 10px;
        width: 75%;
    }

    #search input {
        width: 75%;
        display: inline-block;
    }

    #search button {
        background-color: #0fbcf9;
        color: white;
    }

    /* ------------------------- */
    /* Loading */
    /* ------------------------- */
    #loading {
        margin: 30px 45%;
        font-size: 200%;
    }
</style>

<form action="{% url 'people:search_people' %}" method="get" id="search">
    <input type="text" class="form-control" name="q">
    <button type="submit" class="btn"><i class="fas fa-search"></i></button>
</form>
<ul id="contact-list">
    {% for view_user in users %}
    {% if not view_user == user %}
    <li>
        <div class="row w-100">
            <div class="userInfo">
                <a href="{% url 'people:view_user' view_user.id %}">
                    {% if view_user.who_see_avatar == 'everyone' %}
                    <img src="{{ view_user.avatar.url }}" alt="{{ view_user.username }}"
                        class="img-fluid rounded-circle d-block mx-auto" height="73" width="73">
                    {% elif view_user.who_see_avatar == 'friends' and user in view_user.friends.all %}
                    <img src="{{ view_user.avatar.url }}" alt="{{ view_user.username }}"
                        class="img-fluid rounded-circle d-block mx-auto" height="73" width="73">
                    {% else %}
                    <img src="/media/profile_images/DefaultUserImage.jpg" alt="{{ view_user.username }}"
                        class="img-fluid rounded-circle d-block mx-auto" height="73" width="73">
                    {% endif %}
                </a>
            </div>
            <div class="userDesc">
                <a href="{% url 'people:view_user' view_user.id %}" class="btn" style="font-size: 150%; font-weight: 300;">
                    <span style="margin-bottom: 10px; display: inline-block">{{ view_user.username }}</span>
                </a>
                <br>
                {% if view_user.phone %}
                <span class="fa fa-fw fa-phone fa-fw"></span>
                <span class="small">{{ view_user.phone }}</span>
                <br style="margin-bottom: 10px">
                {% endif %}
                {% if view_user.email and view_user.show_email %}
                <span class="fa fa-fw fa-envelope fa-fw"></span>
                <span class="small text-truncate">{{ view_user.email }}</span>
                <br style="margin-bottom: 10px">
                {% endif %}
                <p class="text-break">{{ view_user.bio }}</p>
                {% if not view_user == user or not view_user in user.friends.all %}
                <a href="{% url 'people:add_friend' view_user.id %}" class="btn addFriend"><i
                        class="fas fa-user-plus"></i> Add friend</a>
                {% endif %}
            </div>

        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<div id="loading"></div>
<script src="{% static 'people/all_people.js' %}"></script>
{% endblock content %}