{% extends 'categories/base.html' %}

{% block title %}All People{% endblock title %}

{% block searchbar %}
<form class="form-inline" action="{% url 'people:all_peopleresults' %}" method="GET">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>
{% endblock searchbar %}

{% block content %}
<!-- todo style users -->
{% for user in users %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a href="{% url 'people:people' user.id %}">
            <h5 class="card-title float-left">{{user.username}}</h5>
        </a>
        {% if user.about %}
        <p class="card-text">{{user.about}}</p>
        {% endif %}
        <!-- Todo add friends -->
        <a href="{% url 'people:addfriend' user.id %}" class="btn btn-primary btn-sm float-right">Add Friend</a>
    </div>
</div>

<br><br>
{% endfor %}
{% endblock content %}