{% extends 'categories/base.html' %}


{% block title %}Search User | {{query}}{% endblock title %}
{% block searchbar %}
<form class="form-inline" action="{% url 'people:all_peopleresults' %}" method="GET">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>
{% endblock searchbar %}
{% block content %}
    
    {% for result in results %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a href="{% url 'people:people' result.id %}">
                <h5 class="card-title float-left">{{result.username}}</h5>
            </a>
            {% if result.about %}
            <p class="card-text">{{result.about}}</p>
            {% endif %}
            <!-- Todo add friends -->
            <a href="{% url 'people:addfriend' result.id %}" class="btn btn-primary btn-sm float-right">Add Friend</a>
        </div>
    </div>
    
    <br><br>
    {% endfor %}
        
{% endblock content %}
    