{% extends 'categories/base.html' %}
{% load static %}
{% block title %} {{view_user.username}} | Dfreemedia {% endblock title %}


{% block description %}
    {{view_user.bio}}
{% endblock description %}


{% block content %}
<style>
    body {
        background: #E9EBEE;
    }
</style>

<a href="{% url 'people:people' view_user.id %}">
    {% if view_user.who_see_avatar == 'everyone' %}
    <img src="{{view_user.avatar.url}}" alt="User Image" class="img-fluid float-left mr-4" width="170" height="170">
    {% elif view_user.who_see_avatar == 'friends' and user in view_user.friends.all %}
    <img src="{{view_user.avatar.url}}" alt="User Image" class="img-fluid float-left mr-4" width="170" height="170">
    {% elif view_user == user %}
    <img src="{{view_user.avatar.url}}" alt="User Image" class="img-fluid float-left mr-4" width="170" height="170">
    {% else %}
    <img src="/media/profile_images/DefaultUserImage.WebP" alt="User Image" class="img-fluid float-left mr-4"
        width="170" height="170">
    {% endif %}
</a>
<div class="">
    <h3>{{view_user.username}}</h3>
    <p><b>Bio</b>: {{view_user.bio}}</p>
    {% if user.show_email %}
    <p><b>Email</b>: {{view_user.email}}</p>
    {% endif %}
    <p><b>Friends</b>: {{ view_user.friends.count }}</p>
    <p><b>Followers</b>: {{view_user.followers.count}}</p>
    <p id="viewPosts" class="btn btn-primary"><b>Posts</b>: {{view_user.post_set.count}}</p>
</div>

<div class="fb-profile-block-thumb cover-container">
    {% if user in view_user.followers.all %}
    <input id="followUser" type="submit" name='submit' value="{{view_user.followers.count}} Unfollow"
        class="btn btn-primary" title="UnFollow">
    {% else %}
    <input id="followUser" type="submit" name='submit' value="{{view_user.followers.count}} Follow"
        class="btn btn-primary" title="Follow">
    {% endif %}
    {% if user.allow_friend_request %}
    {% if user in view_user.friends.all %}
    <form method="GET" class="form-inline d-inline ml-3 unfriend">
        <input type="submit" name='submit' value="Unfriend" class="btn btn-danger">
    </form>
    <script>
        $(document).ready(function () {
            $('.unfriend').submit(function (e) {
                e.preventDefault();
                let confirmation = confirm('Are you sure you want to unfriend {{ view_user.username }}')
                if (confirmation) {
                    let friendUsername = "{{view_user.username}}"
                    let thisButton = $(this)
                    $.ajax({
                        url: "{% url 'userpage:unfriend' %}",
                        data: {
                            'pk': "{{view_user.id}}"
                        },
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {
                            thisButton.fadeOut()
                            $('#message_area').html(
                                `<div class="alert alert-success"> You unfriended {{ view_user.username }} `
                            )
                        }
                    })
                }
            })
        })
    </script>
    {% else %}
    <input id="addFriendRequest" type="submit" name='submit' value="Add Friend" class="btn btn-primary">
    {% endif %}
    {% endif %}
</div>
<div class="profile-img">
</div>
</div>
</div>
</div>
</div>
<!-- Adding Friend and Follow -->
<script>
    $(document).ready(function () {

        // Add Friend
        $('#addFriendRequest').click(function () {
            $.ajax({
                url: "{% url 'people:addfriend' %}",
                data: {
                    'pk': "{{ view_user.id }}"
                },
                dataType: 'json',
                success: function (data) {
                    $('#message_area').html('')
                    if (data.message.tags === 'error') {
                        $('#message_area').append(`
                            <div class="alert alert-danger fixed-top">${data.message.text}</div>
                            `)
                    } else {
                        $('#message_area').append(`
        <div class="alert alert-${data.message.tags} fixed-top">${data.message.text}</div>
                                `)
                    }
                    $('#addFriendRequest').fadeOut()
                }
            })
        })
    })
    // Follow User
    $('#followUser').click(function () {
        $.ajax({
            url: "{% url 'people:follow' view_user.id %}",
            dataType: 'json',
            success: function (data) {
                let followers = "{{view_user.followers.count}}"
                if (data.action == 'follow') {
                    followers++
                    $('#followUser').val(followers + ' Unfollow')
                } else if (data.action == 'unfollow') {
                    followers--
                    $('#followUser').val(followers + ' Follow')
                }
                $('#message_area').html('')
                if (data.message.tags === 'error') {
                    $('#message_area').append(`
                            <div class="alert alert-danger fixed-top">${data.message.text}</div>
                            `)
                } else {
                    $('#message_area').append(`
        <div class="alert alert-${data.message.tags} fixed-top">${data.message.text}</div>
                                `)
                }
            }
        })
    })
</script>
<hr>
<div id="view_userPosts">
    <!-- *Show posts Script -->
    <script>
        $('#view_userPosts').css('display', 'none')
        $('#viewPosts').click(function (e) {
            e.preventDefault();
            $('#view_userPosts').fadeToggle()
        })
    </script>
    {% for post in posts %}
    {% if post.image %}
    <a href="{% url 'people:people' user.id %}">
        {% if post.user.who_see_avatar == 'everyone' %}
        <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left" loading="lazy">
        {% elif post.user.who_see_avatar == 'friends' and user in user.friends.all %}
        <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left" loading="lazy">
        {% elif post.user == user %}
        <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left" loading="lazy">
        {% else %}
        <img src="/media/profile_images/DefaultUserImage.WebP" alt="User Image" width="64" height="64"
            class="mr-3 float-left" loading="lazy">
        {% endif %}
        <span>{{post.user.username}}</span>
    </a>
    <div class="mb-3">
        <div class="card-body">
            {% if post.description %}
            <p class="card-text">{{post.description|truncatechars:200}}{% if post.description|length > 200%}<a
                    href="{% url 'comments:view_post' post.id %}">Read
                    More</a>{% endif %}</p>
            {% endif %}
            <img src="{{ post.image.url }}" alt="{{ post.user.username }}" height="250" width="40%">
            <p class="card-text"><small class="form-text text-muted">Published at
                    {{ post.post_date|date:'d M Y' }}</small>
            </p>
        </div>
    </div>
    <!-- Descriptin only post -->
    {% elif post.description and not post.image and not post.post_file %}
    <div class="card">
        <div class="card-header">
            <a href="{% url 'people:people' user.id %}">
                {% if post.user.who_see_avatar == 'everyone' %}
                <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left">
                {% elif post.user.who_see_avatar == 'friends' and user in user.friends.all %}
                <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left">
                {% elif post.user == user %}
                <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left">
                {% else %}
                <img src="/media/profile_images/DefaultUserImage.WebP" alt="User Image" width="64" height="64"
                    class="mr-3 float-left">
                {% endif %}
                <span>{{post.user.username}}</span>
            </a>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="text-break">{{post.description|truncatechars:450}} {% if post.description|length > 450%}<a
                        href="{% url 'comments:view_post' post.id %}">Read
                        More</a>{% endif %}</p>
                <small class="form-text text-muted">Published at {{ post.post_date|date:'d M Y' }}</small>
            </blockquote>
        </div>
    </div>
    <!-- File post -->
    {% elif post.post_file %}
    <a href="{% url 'people:people' user.id %}">
        {% if post.user.who_see_avatar == 'everyone' %}
        <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left">
        {% elif post.user.who_see_avatar == 'friends' and user in user.friends.all %}
        <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left">
        {% elif post.user == user %}
        <img src="{{post.user.avatar.url}}" alt="User Image" width="64" height="64" class="mr-3 float-left">
        {% else %}
        <img src="/media/profile_images/DefaultUserImage.WebP" alt="User Image" width="64" height="64"
            class="mr-3 float-left">
        {% endif %}
        <span>{{post.user.username}}</span>
    </a>
    <div class="mb-3">
        <div class="card-body">
            {% if post.description %}
            <p class="card-text">{{post.description|truncatechars:200}}{% if post.description|length > 200%}<a
                    href="{% url 'comments:view_post' post.id %}">Read
                    More</a>{% endif %}</p>
            {% endif %}
            <video width="400" height="320" controls>
                <source src="{{ post.post_file.url }}" type="video/mp4">
                <source src="{{ post.post_file.url }}" type="video/ogg">
                Your browser does not support the video tag.
            </video>
            <p class="card-text"><small class="form-text text-muted">Published at
                    {{ post.post_date|date:'d M Y' }}</small>
            </p>
        </div>
    </div>
    {% endif %}
    <span class="row justify-content-center">
        <span><a href="{% url 'comments:view_post' post.id %}" style="text-decoration: none; color:black;"><i
                    class="far fa-comment-dots" style="font-size:36px;"></i></a></span>
        <!-- Like -->
        <form method="GET" id="likeForm{{post.id}}" class="form-inline">
            <button type="submit" name="submit" value="like" title="Like" class="btn btn-link">
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style="font-size:36px" id="likeButton{{post.id}}"></i>
            </button>
        </form>
        <span class="m-3" id="id_likes{{post.id}}">
            {% if user in post.likes.all %}
            <p style="color:#065FD4;"><b>{{post.likes.count}}</b></p>
            {% else %}
            <p style="color:black;">{{post.likes.count}}</p>
            {% endif %}
        </span>
        <!-- add like script -->
        <script>
            $(document).ready(function () {

                $('#likeForm{{post.id}}').click((event) => {
                    event.preventDefault()
                })
                $('#likeButton{{post.id}}').click(function (event) {
                    $.ajax({
                        url: "{% url 'comments:post_like_dislike' post.id %}",
                        data: {
                            'submit': 'like',
                        },
                        method: 'get',
                        dataType: 'json',
                        success: function (data) {
                            let likes = "{{post.likes.count}}";
                            let dislikes = "{{ post.dislikes.count }}"
                            if (data.action == 'undislike_and_like') {
                                dislikes -= 1
                                likes++
                                $('#id_dislikes{{post.id}}').html(
                                    '<p style="color:black;">' +
                                    dislikes + '</p>')
                                $('#id_likes{{post.id}}').html(
                                    '<p style="color:#065FD4;"><b>' +
                                    likes + '</b></p>')
                            } else if (data.action == 'unlike') {
                                likes -= 1
                                $('#id_likes{{post.id}}').html('<p style="color:#black;"' +
                                    likes +
                                    '</p>')
                            } else {
                                likes++
                                $('#id_likes{{post.id}}').html(
                                    '<p style="color:#065FD4;"><b>' +
                                    likes + '</b></p>')
                            }
                        }
                    })
                })

            })
        </script>
        <!-- Dislike -->
        <form action="{% url 'comments:post_like_dislike' post.id %}" method="post" class="form-inline"
            id="dislikeForm{{post.id}}">
            {% csrf_token %}
            <button type="submit" id="dislikeButton{{post.id}}" name="submit" value="dislike" title="Dislike"
                class="btn">
                <i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size:36px"></i>
            </button>
        </form>
        <span class="m-3" id="id_dislikes{{post.id}}">
            {% if user in post.dislikes.all %}
            <p style="color:#065FD4;"><b>{{post.dislikes.count}}</b></p>
            {% else %}
            <p style="color:black;">{{post.dislikes.count}}</p>
            {% endif %}
        </span>
        <!-- add like script -->
        <script>
            $(document).ready(function () {

                $('#dislikeForm{{post.id}}').click((event) => {
                    event.preventDefault()
                })
                $('#dislikeButton{{post.id}}').click(function (event) {
                    $.ajax({
                        url: "{% url 'comments:post_like_dislike' post.id %}",
                        data: {
                            'submit': 'dislike',
                        },
                        dataType: 'json',
                        success: function (data) {
                            let likes = "{{post.likes.count}}";
                            let dislikes = "{{ post.dislikes.count }}"
                            if (data.action == 'unlike_and_dislike') {
                                dislikes++
                                likes -= 1
                                $('#id_dislikes{{post.id}}').html(
                                    '<p style="color:#065FD4;"><b>' +
                                    dislikes + '</b></p>')
                                $('#id_likes{{post.id}}').html('<p style="color:black;">' +
                                    likes + '</p>')
                            } else if (data.action == 'undislike') {
                                dislikes -= 1
                                $('#id_dislikes{{post.id}}').html(
                                    '<p style="color:#black;"' +
                                    dislikes +
                                    '</p>')
                            } else {
                                dislikes++
                                $('#id_dislikes{{post.id}}').html(
                                    '<p style="color:#065FD4;"><b>' +
                                    dislikes + '</b></p>')
                            }
                        }
                    })
                })

            })
        </script>
    </span>
    {% endfor %}


    <!-- PAGINATOR -->
    <nav aria-label="...">
        <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item">
                <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo</a>
            </li>
            {% endif %}


            {% for page in posts.paginator.page_range %}
            {% if posts.number == page %}
            <li class="page-item active">
                <a href="?page={{ page }}" class="page-link">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="?page={{ page }}" class="page-link">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endblock content %}