{% extends 'categories/base.html' %}
{% load static %}
{% block title %} {{view_user.username}} {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'people/indexstyle.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-profile-block">
                <div class="fb-profile-block-thumb cover-container"></div>
                <div class="profile-img">
                    <a href="#">
                        {% if view_user.who_see_avatar == 'everyone' %}
                        <img src="{{view_user.avatar.url}}" alt="User Image">
                        {% elif view_user.who_see_avatar == 'friends' and user in friends %}
                        <img src="{{view_user.avatar.url}}" alt="User Image">
                        {% else %}
                        <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image">
                        {% endif %}

                    </a>
                </div>
                <div class="profile-name">
                    <h2>{{view_user.username}}</h2>
                </div>

                <div class="fb-profile-block-menu">
                    <div class="block-menu">
                        <ul>
                            <li><a href="{% url 'people:people_questions' view_user.id %}">Questions Asked</a></li>
                            <li><a href="#">Questions Answered</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}