body {
    background-color: white
}

.btn{
    border-radius: 200px;
}

.container {
    font-size: 1.25em;
}

.navbar .nav-item a {
    color: white !important;
    margin: 5px !important;
    padding: 5px;
    text-align: inherit;
    font: inherit;
    list-style: none;
    text-decoration: none !important;
}

#id_nav_avatar {
    height: auto;
    width: auto;
    max-height: 42px;
    max-width: 42px;
    border-radius: 100%;
}

.nav-item .dropdown-menu .dropdown-item {
    color: black !important;
}


#notificationBell {
    font-size: 36px;
    color: rgb(209, 202, 202);
    cursor: pointer
}

#notificationsContainer img {
    border-radius: 50%;
    margin: 20px 20px 20px 20px;
}

#notificationsContainer h5 {
    margin-top: 20px !important;
}

#notificationsContainer a {
    text-decoration: none;
    color: black
}

#notifications ul {
    list-style: none;
    padding-left: 0px;
}

.unRead {
    color: white;
    background: red;
    border-radius: 50% !important;
    padding: 7px !important;
}


#signupFloatForm,
#loginFloatForm {
    background: rgba(0, 0, 0, 0.6);
    background-size: cover;
}

#stickyChatBtn {
    display: none;
}

@media (max-width: 575px) {
    #mainChatBtn {
        display: none;
    }

    #stickyChatBtn {
        display: block;
    }
}