body {
    background-color: white
}

.container {
    font-size: 1.25em;
}

.navbar .nav-item a {
    color: white !important;
    margin: 5px !important;
    padding: 5px;
    text-align: inherit;
    font: inherit;
    list-style: none;
    text-decoration: none !important;
}

nav li a:hover {
    background-color: rgb(40, 30, 7);
}

#id_nav_avatar {
    height: auto;
    width: auto;
    max-height: 42px;
    max-width: 42px;
    border-radius: 100%;
}

.nav-item .dropdown-menu .dropdown-item {
    color: black !important;
}

#notificationDropMenu {
    overflow: scroll;
    width: 430px;
    max-height: 568px;
}

@media screen and (max-width: 776px) {
    #notificationDropMenu {
        max-width: 45vw;
    }
}

#notificationsContainer {
    list-style: none;
    padding-left: 10px;
}

#notificationsContainer img {
    border-radius: 50%;
    margin-right: 20px;
}

#notificationsContainer li {
    padding-bottom: 30px;
}

#notificationsContainer a {
    text-decoration: none;
    color: black
}

.unRead {
    color: white;
    background: red;
    border-radius: 50% !important;
    padding: 7px !important;
}


#signupFloatForm,
#loginFloatForm {
    background: rgba(0, 0, 0, 0.6);
    background-size: cover;
}

#stickyChatBtn {
    display: none;
}

@media (max-width: 575px) {
    #mainChatBtn {
        display: none;
    }

    #stickyChatBtn {
        display: block;
    }
}