#addToHomeScreen {
    position: absolute;
    right: 30px;
    border-radius: 35%;
    background-color: #FC7E2B;
    color: white
}

@media screen and (max-width: 412px) {
    #addToHomeScreen {
        right: 10px;
        top: 60px
    }
}


/* ------------------------------- */
/* Navigation */
/* ------------------------------- */

#toggleSidebar {
    position: fixed;
    z-index: 1000;
    font-size: 150%;
    font-weight: 300;
    margin-left: 20px;
}

.sidebar {
    position: fixed;
    margin-right: 30px;
    top: 17vh;
    left: 0;
    width: 100px;
    border: 1px solid #eee;
    z-index: 1000;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.sidebar a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    font-size: 90%;
    font-weight: 300;
    text-align: center;
    transition: background-color 0.2s;
    color: white
}

.sidebar a:hover,
.sidebar a:active {
    background-color: #eee;
    text-decoration: none;
    color: black;
}

/* ------------------------------- */
/* Search */
/* ------------------------------- */

#search input{
    width: 70%;
    margin: 20px auto 20px 33px;
    display: inline-block;
}

#search button{
    height: 35px;
    width: 40px;
    background-color: #55c3ef;
    color: white;
    border-radius: 50%;
}

/* ------------------------------- */
/* Posts */
/* ------------------------------- */
#posts {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 752px) {
    #posts {
        margin-left: 10%;
    }
}

@media screen and (max-width: 492px) {
    #posts {
        margin-right: 0;
    }
}

.card.gedf-card {
    margin: 20px 30px 40px 30px;
}


#loading {
    margin: 30px 45%;
    font-size: 200%;
}