{% extends 'categories/base.html' %}
{% load static %}
{% block title %}Overcome social media addiction | Dfreemedia{% endblock title %}


{% block description %}Tried to delete social media but returned it again due to your work or school group? but those
people don't care about your time, spamming text messages! Then try out Dfreemedia, we provide a unique message
filtering system for both posts and messages, including marking messages as important and
normal{% endblock description %}


{% block content %}
<style>
    body {
        font-size: 2.25em;
        background-color: #65bbf18c !important;
    }
</style>
<div class="text-center">
    <video width="100%" controls class="col-md-10 col-lg-8">
        <source src="{% static 'production/DFMPres.mp4' %}" type="video/mp4">
        <source src="{% static 'production/DFMPres.mp4' %}" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <h1>Is Social media is wasting your life?</h1>
    <h1> Are you getting distracted and forgetting why you even opened the app?</h1>
    <h4>do you get distracted between too many topics and can't focus on things you want?</h4>
    <h1>No worries that's why Dfreemedia is here</h1>
    <br>
    <br>
    <br>
    <h1>We divide posts according to their topic to help you stay focused and receive relevant topics
        only, giving users the power to hide unwanted topics</h1>
    <br><br>
    <h4>As well as the ability to highlight friends messages so you don't get distracted between unimportant messages
    </h4>
</div>
{% endblock content %}