{% extends 'categories/base.html' %}
{% load static %}
{% block title %}Overcome social media addiction | Dfreemedia{% endblock title %}


{% block description %}Tried to delete social media but returned it again due to your work or school group? but those
people don't care about your time, spamming text messages! Then try out Dfreemedia, we provide a unique message
filtering system for both posts and messages, including marking messages as important and
normal{% endblock description %}


{% block content %}
<style>
    body {
        font-size: 2.25em;
        background-color: #65bbf18c !important;
    }
</style>
<div class="text-center">
    <video width="100%" controls class="col-md-10 col-lg-8">
        <source src="{% static 'production/DFMPres.mp4' %}" type="video/mp4">
        <source src="{% static 'production/DFMPres.mp4' %}" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <h1>Is Social media is wasting your life?</h1>
    <h1> Are you getting distracted and forgetting why you even opened the app?</h1>
    <h1>Do you want an organized chat?</h1>
    <h1>No worries that's why Dfreemedia is here</h1>
    <br>
    <br>
    <br>
    <h1>We divide group chat into areas, were each message should have its area to keep chat and effective</h1>
    <br>
    <br>
    <h1>We divide posts according to their topic to help you stay focused and receive relevant topics
        only, giving users the power to chose which topics to be displayed in their homepage from the Distraction Free menu</h1>
    <h4>Distraction Free menu?</h4>
    <h1>A very unique menu we provide to help users hide any unwanted thing to stay focused and receive relevant things only, this includes notifications, posts, comments, replies, topics, and turning the app into chat only app</h1>
    </h4>
</div>
{% endblock content %}