{% extends 'categories/base.html' %}

{% block title %}Check out our new social media platform announcements | Dfreemedia{% endblock title %}


{% block description %}Explore all of Dfreemedia announcements since its official release, a social media platform made to be as less distractive as possible{% endblock description %}



{% block content %}
{% load static %}

{% for announce in announcements %}
<div class="media">
    <img src="{% static 'categories/logo.png' %}" class="align-self-center mr-3" alt="DFreeMedia" width="100" height="100">
    <div class="media-body">
        <h5 class="mt-0">{{ announce.title }}</h5>
        <p style="white-space: pre-line;">{{ announce.content|truncatechars:300|safe }}
            {% if announce.content|length > 300 %} <a href="{% url 'production:ViewAnnounce' announce.id %}">Read
                More</a>
            {% endif %}
        </p>
    </div>
</div>
<hr>
{% endfor %}

{% endblock content %}