{% extends 'categories/base.html' %}
{% load static %}

{% block title %}Frequently Asked Questions| Dfreemedia{% endblock title %}


{% block description %}Dfreemedia FAQ page. Fix problem, Manage Account, Get the most of Dfreemedia, About and Contact us, Rules{% endblock description %}


{% block content %}
<style>
    .collapse>.card.card-body {
        background: #E9EBEE;
    }
</style>
<h1>Frequently Asked Questions</h1>

<div class="row justify-content-center mt-5">
    <div class="col-md-5">

        <ul class="list-group">
            <li class="list-group-item" type="button" data-toggle="collapse" data-target="#fixProblem"
                aria-expanded="false" aria-controls="fixProblem">Fix Problem</li>
            <div class="collapse" id="fixProblem">
                <div class="card card-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Notifications not working</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>Go to <a href="{% url 'userpage:home' %}" target="_blank">Your profile</a> and
                                        click on
                                        'Subscribe to push messaging', you will get a window pop up asking you to allow
                                        notifications, click allow</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">can't alow notifications</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>This means that your browser have blocked notifications, or you're on Incognito
                                        window</p>
                                    <p>for desktops, beside the url on left you will find a bunch
                                        of icons ( as shown in image below ), click on them. you should see that
                                        notifications are blocked, click on the 'x', now when you
                                        subscribe to notifications you should not get any errors</p>
                                    <img src="{% static 'production/allowNotifications.WebP' %}" alt="" width="250">
                                    <br>
                                    <p>For phones, </p>
                                    <img src="{% static 'production/allowNotifications.WebP' %}" alt="" width="250">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Can't see posts in homepage</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>You should find message saying 'Your Distraction Free settings doesn't allow
                                        posts to show in homepage' so don't worry this is not a problem, this is the
                                        one of Dfreemedia unique behaviours, to cancel it go to your <a href="{% url 'userpage:home' %}"
                                            target="_blank">profile</a> and click up Distraction Free, now click on
                                        'posts to show in homepage' and choose your favourite category</p>
                                    <img src="{% static 'production/chooseHomepageCategory.WebP' %}" alt="" width="250">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Page not loading properly</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>meaning that your page is not loading javascript, again check for permissions you
                                        gave to website and make sure to allow javascript, if you don't know how check
                                        the above 'can't allow notifications'</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Server error 500</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>This error is caused due to an error from the website developers, if you ever
                                        faced this issue <a href="{% url 'feedback' %}"
                                            target="_blank">Report problem here</a> and paste the url and we will fix it
                                        as soon as possible, meanwhile you can try to login, maybe this will fix the
                                        issue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Server error 404</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>You entered a valid url, if you got this error after clicking on a link or button
                                        from our website then please <a href="{% url 'feedback' %}"
                                            target="_blank">Report problem</a> and provide us with the element you
                                        clicked</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <li class="list-group-item" type="button" data-toggle="collapse" data-target="#manageAccount"
                aria-expanded="false" aria-controls="manageAccount">Manage your account</li>

            <div class="collapse" id="manageAccount">
                <div class="card card-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Is my password secure?</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>Yes, as they are turned into hashed passwords first, which make it almost
                                        impossible for us and any hacker to crack your password, so ya don't worry buddy
                                        ;-)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Protect profile picture</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>Go to your <a href="{% url 'userpage:home' %}" target="_blank">Profile</a> and
                                        click on 'privacy', head to 'Who can see profile image', you can either make it
                                        every one, friends only, or no one, tho friends only is still beta</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Stop getting friend and group requests</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>Again click privacy in your <a href="{% url 'userpage:home' %}"
                                            target="_blank">profile</a>, to block friend requests uncheck 'allow friend
                                        requests' (the last choice)
                                        <br>
                                        to stop getting group requests, click 'Who cann add me to groups', you can
                                        either choose everyone, friends only, no one.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">How to reset password</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>For now you can't, the button is there and everything exists, but we are still
                                        working very hard to add email vertifications, if you want to help us the
                                        simplest way is to share the app with your friends :D</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <li class="list-group-item" type="button" data-toggle="collapse" data-target="#getTheMost"
                aria-expanded="false" aria-controls="getTheMost">Get the most out of dfreemedia</li>

            <div class="collapse" id="getTheMost">
                <div class="card card-body">
                    <div class="media">
                        <div class="media-body">
                            <p class="alert alert-info">Dfreemedia was made to be as less distractive as possible, so if
                                you want to get the most
                                of it you should consider minimizing posts you see, minimizing messages, groups, etc...
                                please explore the Distraction Free menu in you profile</p>
                            <h4 class="mt-0">Send important message</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>one of the unique features Dfreemedia provides, ability to mark messages as
                                        important and others as normal, simply check the checkbox beside the send button
                                        and tada your message is important. <small class="form-text text-muted">You can
                                            only send 3 important messages each day for each chat room</small></p>
                                    <img src="{% static 'production/sendImportant.WebP' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0"></h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Block specific notification</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>Yes you heard it right, in Dfreemedia you can have the full control of
                                        notification types and which ones to receive, go to your <a
                                            href="{% url 'userpage:home' %}" target="_blank">profile</a>(again) choose
                                        Distraction Free</p>
                                    <p class="alert alert-warning">pro tip, you can block Normal messages notifications
                                        and allow important ones</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Turn Dfreemedia to chat app</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>Go to <a href="{% url 'userpage:home' %}" target="_bank">profile</a> and open
                                        Distraction Free, now check the last option 'Chat only mode'</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">limit posts</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>We already have a system that doesn't allow users to mkae more than 3 posts/day
                                        (with the exeption of Fun Area), Go to your <a href="{% url 'userpage:home' %}"
                                            target="_blank"> profile</a> and choose 'Distraction Free, block all
                                        categories you don't like to get posts from (last option), you can also 'hide
                                        Followers/Friends posts in homepage', you can specify which category to be your
                                        displayed homepage, choose none if you don't like posts to show there
                                        <br>
                                        please explore 'Distraction Free' settings because that's where we shine, where
                                        you have all the power (which none of the other social media platforms provide)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Hide comments</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>Go to your <a href="{% url 'userpage:home' %}" target="_blank">profile</a> and
                                        check 'Hide comments' (second option)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <li class="list-group-item" type="button" data-toggle="collapse" data-target="#aboutUs"
                aria-expanded="false" aria-controls="aboutUs">About and Contact us</li>
            <div class="collapse" id="aboutUs">
                <div class="card card-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">who is the creater of Dfreemedia</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p><a href="https://www.dfreemedia.com/people/1/" target="_blank">Zeyad
                                            Shaban</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Contact Dfreemedia</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>Email: dfreemedia@gmail.com</p>
                                    <!-- ABSOLUTE URL -->
                                    <p>Official Dfreemedia <a href="https://www.dfreemedia.com/people/6/"
                                            target="_blank">account</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Social media platforms</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p>We don't recommand having multiple soical media platforms, our main one is stated
                                        above, we have one on <a
                                            href="https://www.youtube.com/channel/UCNYWoUrGyhKJEeStOYdfRig"
                                            target="_blank">youtube</a> in case anything bad happend</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <li class="list-group-item" type="button" data-toggle="collapse" data-target="#rules" aria-expanded="false"
                aria-controls="rules">Rules</li>
            <div class="collapse" id="rules">
                <div class="card card-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Terms and Conditions</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p><a href="{% url 'termsandconditions' %}" target="_blank">Terms and Conditions</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Privacy Policy</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p><a href="{% url 'privacypolicy' %}" target="_blank">Privacy policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="media">
                        <div class="media-body">
                            <h4 class="mt-0">Cookie privacy</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <p><a href="{% url 'cookiepolicy' %}" target="_blank">Cookie Policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </ul>
    </div>
</div>

{% endblock content %}

<!-- Are we the best, contact us/ social media platforms, Rules and terms of use, fix not showing posts in homepage todo -->