{% extends 'categories/base.html' %}
{% block title %}Feedbacks | Dfreemedia{% endblock title %}

{% block description %}Write a feedback. it just takes 5 minutes and you don't have to login! Feedbacks are very
valuable to us | Dfreemedia{% endblock description %}

{% block content %}

<div class="submit">
    <button class="button-blue" onclick="document.querySelector('#write-feedback').click()">WRITE FEEDBACK</button>
    <div class="ease"></div>
</div>

<style>
    .submit:hover {
        color: #3498db;
    }

    .button-blue {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        float: left;
        width: 50%;
        margin-top: 30px;
        border: #fbfbfb solid 4px;
        cursor: pointer;
        background-color: #3498db;
        color: white;
        font-size: 24px;
        padding-top: 22px;
        padding-bottom: 22px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        font-weight: 700;
    }

    .button-blue:hover {
        background-color: #217dbb;
    }

    .submit:hover .ease {
        width: 100%;
        background-color: white;
    }

    .ease {
        width: 0px;
        height: 74px;
        background-color: #fbfbfb;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
        transition: .3s ease;
    }
</style>
{% endblock content %}