{% extends 'makeuser/base.html' %}
{% block title %} Login {% endblock title %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Login</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <hr>
        <div class="text-center">
            Need an account? <a href="{% url 'makeuser:signupuser' %}">Sign Up here</a>
        </div>
        <hr>
        <hr>
        <div class="text-center">
            Forgot password? If your account was linked with an email then no worries, <a href="{% url 'makeuser:password_reset' %}">Reset Password</a>
        </div>
    </div>
</div>

{% endblock content %}