{% extends 'categories/base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %} Login for Dfreemedia | Dfreemedia{% endblock title %}

{% block description %}
Create an account or log into Dfreemedia. Enjoy the unique filtering system we provide for both posts and friend
messages to keep your time and life safe. free 100% free. Be more productive with Dfreemedia.
{% endblock description %}

{% block content %}
<div class="box">
    <h2>Login</h2>
    <div style="text-align: center;">
        <a href="{% provider_login_url 'google' %}" class="social-login google-login"><img
                src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_960_720.png" alt="G"> Login with
            Google</a>
        <a href="#" class="social-login facebook-login"><img
                src="https://cdn.pixabay.com/photo/2017/06/22/06/22/facebook-2429746_960_720.png" alt="F"> Login with
            Facebook</a>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" placeholder="Username" maxlength="30" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <input type="submit" name="sign-in" value="Login">
    </form>
    <div style="margin-top: 30px; border-top: 1px solid rgb(83, 83, 83);">
        <p>Need an account? <a href="{% url 'signupuser' %}" class="btn text-white">Sign Up</a></p>
        <p>Forgot password? <a href="{% url 'password_reset' %}" class="btn text-white">Reset Password</a></p>

    </div>
</div>

<div class="app-info">
    <div>
        <h4><i class="fas fa-cogs"></i> Customize the app to match your needs.</h4>
        <h4><i class="fas fa-ban" style="color: red"></i> Hide posts that are not relevant.</h4>
        <h4><i class="far fa-comments"></i> Chat with friends.</h4>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('load', function () {
            document.querySelector('#togglePassword').onclick = function (e) {
                e.preventDefault();
                if ($('#togglePassword').hasClass('fa-eye-slash')) {
                    $('.password').attr('type', 'text');
                    $('#togglePassword').removeClass('fa-eye-slash');
                    $('#togglePassword').addClass('fa-eye');
                } else {
                    $('.password').attr('type', 'password')
                    $('#togglePassword').removeClass(`fa-eye`)
                    $('#togglePassword').addClass(`fa-eye-slash`)
                }
            }
        });
    });
</script>
<link rel="stylesheet" href="{% static 'users/signupuser.css' %}">
<style>
    .app-info {
        width: 50%;
        padding-top: 30px;
        height: 100vh;
        background-image:url("{% static 'categories/logo.png' %}");
        background-size: cover;
        background-position: center;
    }

    .app-info div {
        margin-left: 30px;
        margin-right: auto;
        margin-top: 30vh;
    }

    .app-info div h4 {
        margin-bottom: 40px;
        font-weight: 300;
    }

    @media screen and (max-width: 950px) {
        .app-info div h4 {
            font-size: 120%;
        }
    }
</style>
{% endblock content %}