{% extends 'categories/base.html' %}
{% load static %}
{% block title %} Login for Dfreemedia | Dfreemedia{% endblock title %}

{% block description %}
Create an account or log into Dfreemedia. Enjoy the unique filtering system we provide for both posts and friend
messages to keep your time and life safe. free 100% free. Be more productive with Dfreemedia.
{% endblock description %}

{% block content %}
<style>
    #floatAuthForm{
        display: none!important;
    }
    body {
        margin: 0;
        padding: 0;
        background: url('https://cdn.pixabay.com/photo/2014/12/15/17/16/pier-569314_960_720.jpg');
        background-size: cover;
        font-family: sans-serif;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25rem;
        padding: 2.5rem;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 0.625rem;
        color: white;
    }

    .box h2 {
        margin: 0 0 1.875rem;
        padding: 0;
        text-align: center;
    }

    .box .inputBox {
        position: relative;
    }

    .box .inputBox input {
        width: 100%;
        padding: 0.625rem 0;
        font-size: 1rem;
        letter-spacing: 0.062rem;
        margin-bottom: 1.875rem;
        border: none;
        border-bottom: 0.065rem solid #fff;
        outline: none;
        background: transparent;
        color: white;
    }

    .box .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.625rem 0;
        font-size: 1rem;
        pointer-events: none;
        transition: 0.5s;
    }

    .box .inputBox input:focus~label,
    .box .inputBox input:valid~label,
    .box .inputBox input:not([value=""])~label {
        top: -1.125rem;
        left: 0;
        color: #03a9f4;
        font-size: 0.75rem;
    }

    .box input[type="submit"] {
        border: none;
        outline: none;
        background-color: #03a9f4;
        padding: 0.625rem 1.25rem;
        cursor: pointer;
        border-radius: 0.312rem;
        font-size: 1rem;
    }

    .box input[type="submit"]:hover {
        background-color: #1cb1f5;
    }
</style>


<div class="box">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <input type="text" name="username" required onkeyup="this.setAttribute('value', this.value);" maxlength="30">
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>
        <input type="submit" name="sign-in" value="Login">
    </form>
    <div style="margin-top: 30px; border-top: 1px solid rgb(83, 83, 83);">
        <p>Need an account? <a href="{% url 'signupuser' %}" class="btn text-white">Sign Up</a></p>
        <p>Forgot password? <a href="{% url 'password_reset' %}" class="btn text-white">Reset Password</a></p>

    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('load', function () {
            document.querySelector('#togglePassword').onclick = function (e) {
                e.preventDefault();
                if ($('#togglePassword').hasClass('fa-eye-slash')) {
                    $('.password').attr('type', 'text');
                    $('#togglePassword').removeClass('fa-eye-slash');
                    $('#togglePassword').addClass('fa-eye');
                } else {
                    $('.password').attr('type', 'password')
                    $('#togglePassword').removeClass(`fa-eye`)
                    $('#togglePassword').addClass(`fa-eye-slash`)
                }
            }
        });
    });
</script>
{% endblock content %}