{% extends 'categories/base.html' %}

{% block title %}
Set up Email and phone number
{% endblock title %}


{% block description %}Set up email and phone number in Dfreemedia for others to easily find
you{% endblock description %}

{% block content %}
<div class="m-2">
    <h1 class="row justify-content-center mb-4">Set up email and phone number</h1>
    <span>Email: <input type="email" name="email" id="id_email" class="form-control col-md-6 d-inline ml-2"
            placeholder="example@gmail.com" style="max-width:250px"></span>
    <button class="btn btn-success" id="submitEmail">Submit</button>
    <br>
    <small class="form-text text-muted">Current: {% if not user.email %}None{% endif %}{{ user.email }}</small>
    <div id="loadingEmail"></div>
    <br>
    <h4>Enter the email six digit code here</h4>
    <br>
    <input type="number" name="code" id="id_emailCode" class="form-control" style="max-width: 150px; display: inline">
    <button class="btn btn-success" id="submitEmailCode">Confirm</button>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('load', function () {
            $('#submitEmail').click(function (e) {
                function isEmail(email) {
                    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    return regex.test($('#id_email').val());
                }
                if (isEmail()) {
                    $('#loadingEmail').html(`<div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>`)
                    e.preventDefault();
                    $.ajax({
                        url: "{% url 'send_email_code' %}",
                        data: {
                            'email': $('#id_email').val()
                        },
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {
                            $('#loadingEmail').html('<i class="far fa-check-circle" style="color: green; font-size: 40px"></i>')
                        }
                    })
                } else {
                    $('#loadingEmail').html('<p class="alert alert-danger" style="max-width: 400px">Please enter a valid email address</p>')
                }
            })
            $('#submitEmailCode').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'confirm_email' %}",
                    data: {
                        'code': $('#id_emailCode').val(),
                        'email': $('#id_email').val(),
                    },
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {
                        console.log('Success vertifing')
                        if (response.status == 'success') {
                            alert('Your email was confirmed')
                        } else {
                            alert('Wrong code')
                        }
                    }
                })
            })
        });
    });
</script>
{% endblock content %}