{% extends 'users/base.html' %}
{% block title %} Sign Up {% endblock title %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Sign Up</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" required maxlength="40">
            </div>
            <!-- <div class="form-group">
                <label for="email">Email</label>
                <small class="form-text text-muted">optional</small>
                <input type="text" name="email" class="form-control" id="email" aria-describedby="usernameHelp">
            </div> -->
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" name="password1" class="form-control" id="password1" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" class="form-control" id="password2" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <hr>
        <div class="text-center">
            Do you already have an account? <a href="{% url 'loginuser' %}">Login here</a>
        </div>
    </div>
</div>
{% endblock content %}
