{% extends 'categories/base.html' %}
{% load static %}
{% block title %} Sign Up for Dfreemedia | Dfreemedia{% endblock title %}

{% block description %}Create an account or log into Dfreemedia. Enjoy the unique filtering system we provide for both
posts and friend messages to keep your time and life safe. free 100% free. Be more productive with
Dfreemedia.{% endblock description %}

{% block content %}
<style>
    #floatAuthForm {
        display: none !important;
    }

    body {
        background: url('https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_960_720.jpg');
        background-size: cover;
    }

    .box {
        width: 50%;
        float: right;
        padding: 2.5rem;
        padding-right: 10%;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 0.625rem;
        color: white;
    }

    @media screen and (max-width: 914px){
        .box{
            width: 100%;
        }
    }

    .box h2 {
        margin: 0 0 1.875rem;
        padding: 0;
        text-align: center;
    }

    .box .inputBox {
        position: relative;
    }

    .box a {
        text-decoration: none;
        color: white;
    }

    .box .inputBox input {
        width: 100%;
        padding: 0.625rem 0;
        font-size: 1rem;
        letter-spacing: 0.062rem;
        margin-bottom: 1.875rem;
        border: none;
        border-bottom: 0.065rem solid #fff;
        outline: none;
        background: transparent;
        color: white;
    }

    .box .inputBox label {
        padding: 0.625rem 0;
        font-size: 1rem;
        pointer-events: none;
        transition: 0.5s;
    }

    .box input[type="submit"] {
        border: none;
        outline: none;
        background-color: #03a9f4;
        padding: 0.625rem 1.25rem;
        cursor: pointer;
        border-radius: 0.312rem;
        font-size: 1rem;
    }

    .box input[type="submit"]:hover {
        background-color: #1cb1f5;
    }
</style>
<div class="box">
    <h2>Join Dfreemedia</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <label for="id_username">Username</label>
            <input type="username" id="id_username" name="username" required
                onkeyup="this.setAttribute('value', this.value);" maxlength="30">
        </div>
        <div class="inputBox">
            <label for="password1">Password</label>
            <input type="password" name="password1" id="password1" required>
            <label for="password2">Confirm password</label>
            <input type="password" name="password2" id="password2" required>
        </div>
        <div style="margin-top: 50px"></div>
        <div style="margin-top: 40px"></div>
        <small class="form-text"> <input type="checkbox" name="" id="" class="mr-2" required>I agree
            to <a href="{% url 'termsandconditions' %}" target="_blank">Terms and
                Conditions</a>, <a href="{% url 'privacypolicy' %}" target="_blank">Privacy
                Policy</a>, and <a href="{% url 'cookiepolicy' %}" target="_blank">Cookie
                Policy</a></small>
        <div style="margin-top: 30px"></div>
        <input type="submit" name="sign-in" value="Sign In">
    </form>
    <div style="margin-top: 50px; border-top: 1px solid rgb(83, 83, 83);">
        <p>Already have an account? <a href="{% url 'loginuser' %}" class="btn text-white">Login</a></p>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('load', function () {
            document.querySelector('#togglePassword').onclick = function (e) {
                e.preventDefault();
                if ($('#togglePassword').hasClass('fa-eye-slash')) {
                    $('.password').attr('type', 'text');
                    $('#togglePassword').removeClass('fa-eye-slash');
                    $('#togglePassword').addClass('fa-eye');
                } else {
                    $('.password').attr('type', 'password')
                    $('#togglePassword').removeClass(`fa-eye`)
                    $('#togglePassword').addClass(`fa-eye-slash`)
                }
            }
        });
    });
</script>
{% endblock content %}