{% extends 'categories/base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %} Sign Up for Dfreemedia | Dfreemedia{% endblock title %}
{% block description %}.{% endblock description %}

{% block content %}
<div class="box">
    <h2>Join Dfreemedia</h2>
    <div style="text-align: center;">
        <a href="{% provider_login_url 'google' %}" class="social-login google-login"><img
                src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_960_720.png" alt="G"> Login with
            Google</a>
        <a href="#" class="social-login facebook-login" style="display: none;"><img
                src="https://cdn.pixabay.com/photo/2017/06/22/06/22/facebook-2429746_960_720.png" alt="F"> Login with
            Facebook</a>
    </div>
    <section>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control col-md-10" id="id_username" name="username" maxlength="30"
                    placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="password1" class="form-control col-md-10" id="password1"
                    placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" name="password2" class="form-control col-md-10" id="password2"
                    placeholder="Confirm Password" required>
            </div>
    </section>

    <section style="width: 364px;">
        <div class="form-group">
            <div id="div_id_hide_recommended_posts" class="form-check">
                <input type="checkbox" name="hide_recommended_posts" class="checkboxinput form-check-input"
                    id="id_hide_recommended_posts">
                <label for="id_hide_recommended_posts" class="form-check-label">
                    Hide recommended posts
                </label>
            </div>
        </div>
        <div class="form-group">
            <div id="div_id_hide_comments" class="form-check"> <input type="checkbox" name="hide_comments"
                    class="checkboxinput form-check-input" id="id_hide_comments">
                <label for="id_hide_comments" class="form-check-label">
                    Hide comments
                </label> </div>
        </div>
        <div id="div_id_blocked_topics" class="form-group"> <label for="id_blocked_topics" class=" requiredField">
                Blocked topics <small class="form-text mb-3" style="font-size: 70%">Hold cmd/ctrl for desktop
                    users</small></label>
            <div class="">
                <select name="blocked_topics" class="selectmultiple form-control" id="id_blocked_topics" multiple="">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
    </section>

    <section>
        <small class="form-text">By signing up I agree
            to <a href="{% url 'termsandconditions' %}" target="_blank">Terms and
                Conditions</a>, <a href="{% url 'privacypolicy' %}" target="_blank">Privacy
                Policy</a>, and <a href="{% url 'cookiepolicy' %}" target="_blank">Cookie
                Policy</a></small>
        <input type="submit" name="sign-in" value="Sign In">
        </form>

    </section>
    <section>
        <p><a href="{% url 'loginuser' %}" class="btn btn-success" target="_blank">Login</a></p>
    </section>
</div>
<div class="app-info">
    <div>
        <h4><i class="fas fa-cogs"></i> Customize the app to match your needs.</h4>
        <h4><i class="fas fa-ban" style="color: red"></i> Hide posts that are not relevant.</h4>
        <h4><i class="far fa-comments"></i> Chat with friends.</h4>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('load', function () {
            document.querySelector('#togglePassword').onclick = function (e) {
                e.preventDefault();
                if ($('#togglePassword').hasClass('fa-eye-slash')) {
                    $('.password').attr('type', 'text');
                    $('#togglePassword').removeClass('fa-eye-slash');
                    $('#togglePassword').addClass('fa-eye');
                } else {
                    $('.password').attr('type', 'password')
                    $('#togglePassword').removeClass(`fa-eye`)
                    $('#togglePassword').addClass(`fa-eye-slash`)
                }
            }
        });
    });
</script>
<link rel="stylesheet" href="{% static 'users/signupuser.css' %}">
<style>
    .app-info {
        width: 50%;
        padding-top: 30px;
        height: 100vh;
        background-image:url("{% static 'categories/logo.png' %}");
        background-size: cover;
        background-position: center;
        color: #fff;
    }

    .app-info div {
        margin-left: 40px;
        margin-right: auto;
        margin-top: 30vh;
    }

    .app-info div h4 {
        margin-bottom: 30px;
        font-weight: 300;
    }

    @media screen and (max-width: 950px) {
        .app-info div h4 {
            font-size: 120%;
        }
    }
</style>
{% endblock content %}