{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel='shortcut icon' href="{% static 'categories/favicon.WebP' %}" type="image/WebP">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{% static 'userpage/friends.css' %}">
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <title>Chat</title>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
        type='text/css'>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


</head>

<body>
    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <a href="{% url 'userpage:home' %}">
                        <img src="{{ user.avatar.url }}" class="online" alt="" />
                    </a>
                    <p>{{ user.username }}</p>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..." />
            </div>
            <div id="contacts">
                <ul>
                    {% for friend in friends %}
                    <li class="contact">
                        <div class="wrap" id="chatFriendButton{{friend.id}}">
                            {% if friend.is_online %}
                            <span class="contact-status online"></span>
                            {% else %}
                            <span class="contact-status offline"></span>
                            {% endif %}
                            {% if friend.who_see_avatar == 'everyone' %}
                            <img src="{{ friend.avatar.url }}" alt="{{ friend.username }}"
                                class="img-fluid rounded-circle d-block mx-auto" height="73" width="73">
                            {% else %}
                            <img src="/media/profile_images/DefaultUserImage.WebP" alt="{{ friend.username }}"
                                class="img-fluid rounded-circle d-block mx-auto" height="73" width="73">
                            {% endif %}
                            <div class="meta">
                                <p class="name">{{ friend.username }}</p>
                                <p class="preview"></p>
                            </div>
                        </div>
                    </li>
                    <!-- LOAD FRIEND CHAT -->
                    <script>
                        $(document).ready(function () {
                            function loadMessages(e) {
                                let friend_id = "{{friend.id}}"
                                $.ajax({
                                    url: "{% url 'social:chat_friend' friend.id %}",
                                    data: {
                                        'friend_id': "{{friend.id}}"
                                    },
                                    dataType: 'json',
                                    success: function (response) {
                                        let friend_image
                                        if (response.friend.who_see_avatar == 'everyone' ||
                                            response.friend.who_see_avatar == 'friends') {
                                            friend_image = response.friend.avatar
                                        } else {
                                            friend_image =
                                                '/media/profile_images/DefaultUserImage.WebP'
                                        }
                                        $('#friendProfile').html(
                                            // ! STATIC URL todo
                                            `<a href="/people/${response.friend.id}/">
                                            <img src="${friend_image}" width="40" height="40"/>
                                            </a>
                                            <p id="currFriendName">${response.friend.username}</p>`
                                        )
                                        let outputMessages = ''
                                        let chat_messages = JSON.parse(response
                                            .chat_messages)
                                        for (message of chat_messages) {
                                            let messageStyle = "null"
                                            if (message.fields.is_important) {
                                                messageStyle = 'style="background: #d10c0c"'
                                            }
                                            if (message.fields.message_sender == response
                                                .friend.id) {
                                                outputMessages += `<li class="replies">
                                    <img src="${friend_image}" alt="" width="22" height="22"/>
                                    <p>${message.fields.message}</p>
                                </li>`
                                            } else {
                                                outputMessages += `
                                            <li class="sent">
                        <img src="{{user.avatar.url}}" alt="" width="22" height="22"/>
                        <p ${messageStyle}>${message.fields.message}</p>
                    </li>
                                            `
                                            }
                                        }
                                        $('#chatMessages').html(outputMessages)
                                    }
                                })
                            }
                            $('#chatFriendButton{{friend.id}}').click(loadMessages)
                            setInterval(function loadMessages(e) {
                                let friend_id = "{{friend.id}}"
                                $.ajax({
                                    url: "{% url 'social:chat_friend' friend.id %}",
                                    data: {
                                        'current_friend_username': $('#currFriendName').html()
                                    },
                                    dataType: 'json',
                                    success: function (response) {
                                        let friend_image
                                        if (response.friend.who_see_avatar == 'everyone' ||
                                            response.friend.who_see_avatar == 'friends') {
                                            friend_image = response.friend.avatar
                                        } else {
                                            friend_image =
                                                '/media/profile_images/DefaultUserImage.WebP'
                                        }
                                        $('#friendProfile').html(
                                            // ! STATIC URL todo
                                            `<a href="/people/${response.friend.id}/">
                                            <img src="${friend_image}" width="40" height="40"/>
                                            </a>
                                            <p id="currFriendName">${response.friend.username}</p>`
                                        )
                                        let outputMessages = ''
                                        let chat_messages = JSON.parse(response
                                            .chat_messages)
                                        for (message of chat_messages) {
                                            let messageStyle = "null"
                                            if (message.fields.is_important) {
                                                messageStyle = 'style="background: #d10c0c"'
                                            }
                                            if (message.fields.message_sender == response
                                                .friend.id) {
                                                outputMessages += `<li class="replies">
                                    <img src="${friend_image}" alt="" width="22" height="22"/>
                                    <p>${message.fields.message}</p>
                                </li>`
                                            } else {
                                                outputMessages += `
                                            <li class="sent">
                        <img src="{{user.avatar.url}}" alt="" width="22" height="22"/>
                        <p ${messageStyle}>${message.fields.message}</p>
                    </li>
                                            `
                                            }
                                        }
                                        $('#chatMessages').html(outputMessages)
                                    }
                                })
                            }, 3000);
                        })
                    </script>
                    {% endfor %}
                    <!-- SEND MESSAGE -->
                    <script>
                        $(document).ready(function () {
                            $('#sendMessageForm').submit(function (event) {
                                event.preventDefault()
                                let userInput = document.getElementById('inputMessage').value;
                                if (userInput) {
                                    $.ajax({
                                        url: "{% url 'social:send_message' %}",
                                        data: {
                                            "friend_username": $('#currFriendName').html(),
                                            "message": userInput,
                                        },
                                        dataType: 'json',
                                        success: function (response) {
                                            $('#inputMessage').val('')
                                        }
                                    })
                                }
                            })
                        })
                    </script>
                </ul>
            </div>
            <div id="bottom-bar">
                <a href="{% url 'people:all_people' %}"><button id="addcontact"><i class="fa fa-user-plus fa-fw"
                            aria-hidden="true"></i> <span>Find Friends</span></button></a>
                <a href="{% url 'home' %}">
                    <button id="settings"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <span>Home</span></button>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile" id="friendProfile">
                <img src="{% static 'categories/favicon.WebP' %}" width="40" height="40" alt="" />
                <p id="currFriendName">DFreeMedia</p>
            </div>
            <div class="messages" id="chatMessagesContainer">
                <ul id="chatMessages">
                    <li class="sent">
                        <img src="{{user.avatar.url}}" alt="" width="22" height="22" />
                        <p>How can i unfriend someone here?
                        </p>
                    </li>
                    <li class="replies">
                        <img src="{% static 'categories/favicon.WebP' %}" alt="" width="22" height="22" />
                        <p>Just hold his profile image in the side bar and click unfriend</p>
                    </li>
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <form action="" method="get" id="sendMessageForm">
                        <input type="text" placeholder="Write your message..." id="inputMessage" required />
                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                        <button id="sendMessageButton" class="submit"><i class="fa fa-paper-plane"
                                aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>