{% extends 'categories/base.html' %}

{% block title %}Friend and Group | Requests{% endblock title %}

{% block content %}
<h1>Friends Requests</h1>
<p>{{requests.count}} Friend Request{{requests.count|pluralize}}</p>
<br>

{% for request in requests %}
<div class="media">

    {% if request.from_user.who_see_avatar == 'everyone' %}
    <img src="{{ request.from_user.avatar.url }}" class="mr-3" alt="{{ request.from_user.username }}" widht="64"
        height="64">
    {% else %}
    <img src="/media/profile_images/DefaultUserImage.jpg" class="mr-3" alt="{{ request.from_user.username }}" widht="64"
        height="64">
    {% endif %}

    <div class="media-body">
        <h5 class="mt-0"><a href="{% url 'people:people' request.from_user.id %}">{{ request.from_user }}</a> sent you a
            friend request <small class="form-text text-muted">
                {{request.date|date:"j b o"}}</small></small></h5>

    </div>
</div>
<form action="{% url 'userpage:acceptrequest' request.id %}" method="POST" class="float-left ml-4">
    {% csrf_token %}
    <input type="submit" value="Accept" name="acceptrequest," class="btn btn-success ml-2">
</form>
<a class="btn btn-danger" href="{% url 'userpage:denyrequest' request.id%}">Deny</a>
{% endfor %}
<hr>
<h1>Group Requests</h1>
<p>{{group_requests.count}} Group Request{{group_requests.count|pluralize}}</p>
<br>
{% for request in group_requests %}
<div class="media">
    {% if request.request_sender.who_see_avatar == 'everyone' %}
    <img src="{{ request.request_sender.avatar.url }}" class="mr-3" alt="{{ request.request_sender.username }}"
        widht="64" height="64">
    {% elif request.request_sender.who_see_avatar == 'friends' and request.request_sender in user_friends %}
    <img src="{{ request.request_sender.avatar.url }}" class="mr-3" alt="{{ request.request_sender.username }}"
        widht="64" height="64">
    {% else %}
    <img src="/media/profile_images/DefaultUserImage.jpg" class="mr-3" alt="{{ request.request_sender.username }}"
        widht="64" height="64">
    {% endif %}

    <div class="media-body">
        <h5 class="mt-0">{{ request.request_sender }} wants you to join {{request.group.title}} <small
                class="form-text text-muted">
                {{request.date|date:"j b o"}}</small></small></h5>

    </div>
</div>
<a class="btn btn-danger float-left" href="{% url 'social:deny_group' request.id%}">Deny</a>
<form action="{% url 'social:join_group' request.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Join" name="joingroup," class="btn btn-success ml-2">
</form>
{% endfor %}

{% endblock content %}