{% extends 'categories/base.html' %}

{% block title %}Friend and Group | Requests{% endblock title %}

{% block content %}
<h1>Friends Requests</h1>
{{requests.count}} Friend Request{{requests.count|pluralize}}
<br>
<br>
<br>
<br>
<br>
{% for request in requests %}
from: {{ request.from_user }}
<br>
to: {{ request.to_user }}
<br>
<a class="btn btn-danger float-left" href="{% url 'userpage:denyrequest' request.id%}">Deny</a>
<form action="{% url 'userpage:acceptrequest' request.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Accept" name="acceptrequest," class="btn btn-success ml-2">
</form>
{% endfor %}
<hr>
<h1>Group Requests</h1>
{{group_requests.count}} Group Request{{group_requests.count|pluralize}}
<br>
<br>
<br>
<br>
<br>
{% for request in group_requests %}
from: {{ request.request_sender }}
<br>
to: {{ request.reciever }}
<br>
for {{ request.group.title }}
<br>
<a class="btn btn-danger float-left" href="{% url 'social:deny_group' request.id%}">Deny</a>
<form action="{% url 'social:join_group' request.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Join" name="joingroup," class="btn btn-success ml-2">
</form>
{% endfor %}

{% endblock content %}