{% extends 'categories/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{user.username}} {% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'userpage/index.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-profile-block">
                <div class="fb-profile-block-thumb cover-container"></div>
                <div class="profile-img">
                    <a href="{{ user.avatar.url }}">
                        <img src="{{ user.avatar.url }}" alt="User Image">
                    </a>
                </div>
                <div class="profile-name">
                    <h2>{{user.username}}</h2>
                </div>

                <div class="fb-profile-block-menu">
                    <div class="block-menu">
                        <ul>
                            <li><a href="{% url 'userpage:posts' %}">Posts</a></li>
                            <li><a href="{% url 'userpage:friends' %}">Friends</a></li>
                            <li><a href="{% url 'userpage:friendrequest' %}">Friend Requests</a></li>
                            <li><a href="{% url 'userpage:requestssent' %}">Requests Sent</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfile"
    data-whatever="editProfile">Edit Profile</button>

<div class="modal fade " id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit {{user.username}} Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input type="text" class="form-control" name="username" id="id_username" maxlength=30
                            value="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label for="id_first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name" id="id_first_name" maxlength=30
                            value="{{ user.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="id_last_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name" id="id_last_name" maxlength=30
                            value="{{ user.last_name }}">
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input type="text" class="form-control" name="email" id="id_email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label for="id_bio">Bio</label>
                        <input type="text" class="form-control" name="bio" id="id_bio" value="{{ user.bio }}">
                    </div>
                    <div class="form-group">
                        <p><label for="id_avatar">Avatar:</label>
                            <input type="file" name="avatar" accept="image/*" id="id_avatar"></p>
                        <!-- <label for="id_vatar_clear">Clear Avatar</label>
                        <input type="checkbox" name="avatar-clear" id="id_avatar_clear"> -->
                    </div>
                    <div class="from-group">
                        <a href="{% url 'password_reset' %}" target="_blank">Reset Password</a>
                    </div>

                    <input type="submit" value="Update" class="btn btn-success" name="submit">
                    <br>
                    <hr>
                </form>
            </div>
        </div>
    </div>
</div>




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#privacy"
    data-whatever="privacy">Privacy</button>
<div class="modal fade " id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacyLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Privacy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{privacy_form|crispy}}
                    <input type="submit" value="Update Privacy" class="btn btn-success" name="submit">
                </form>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#distractionFree"
    data-whatever="distractionFree">Distraction Free</button>
<div class="modal fade " id="distractionFree" tabindex="-1" role="dialog" aria-labelledby="distractionFreeLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Distration Free</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" name="distractionFree" method="post">
                    {% csrf_token %}
                    {{ distraction_free_form|crispy }}
                    <input type="submit" name="submit" value="DFree" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}