{% extends 'categories/base.html' %}
{% block title %} {{user.username}} {% endblock title %}
{% block content %}
<style>
    .fb-profile-block {
        margin: auto;
        position: relative;
        width: 100%;
    }

    .cover-container {
        background: #1E90FF;
        background: -webkit-radial-gradient(bottom, #73D6F5 12%, #1E90FF);
        background: radial-gradient(at bottom, #73D6F5 12%, #1E90FF)
    }

    .fb-profile-block-thumb {
        display: block;
        height: 315px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
    }

    .fb-profile-block-menu {
        border: 1px solid #d3d6db;
        border-radius: 0 0 3px 3px;
    }

    .profile-img a {
        bottom: 15px;
        box-shadow: none;
        display: block;
        left: 15px;
        padding: 1px;
        position: absolute;
        height: 160px;
        width: 160px;
        background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
        z-index: 9;
    }

    .profile-img img {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
        height: 158px;
        padding: 5px;
        width: 158px;
    }

    .profile-name {
        bottom: 60px;
        left: 200px;
        position: absolute;
    }

    .profile-name h2 {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        max-width: 275px;
        position: relative;
        text-transform: uppercase;
    }

    .fb-profile-block-menu {
        height: 44px;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .block-menu {
        clear: right;
        padding-left: 205px;
    }

    .block-menu ul {
        margin: 0;
        padding: 0;
    }

    .block-menu ul li {
        display: inline-block;
    }

    .block-menu ul li a {
        border-right: 1px solid #e9eaed;
        float: left;
        font-size: 14px;
        font-weight: bold;
        height: 42px;
        line-height: 3.0;
        padding: 0 17px;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        color: #4b4f56;
        text-transform: capitalize;
    }

    .block-menu ul li:first-child a {
        border-left: 1px solid #e9eaed;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-profile-block">
                <div class="fb-profile-block-thumb cover-container"></div>
                <div class="profile-img">
                    <a href="{{ user.avatar.url }}">
                        <img src="{{ user.avatar.url }}" alt="User Image">
                    </a>
                </div>
                <div class="profile-name">
                    <h2>{{user.username}}</h2>
                </div>

                <div class="fb-profile-block-menu">
                    <div class="block-menu">
                        <ul>
                            <li><a href="{% url 'userpage:friends' %}">Friends</a></li>
                            <li><a href="{% url 'userpage:questions' %}">Questions Asked</a></li>
                            <li><a href="#">Questions Answered</a></li>
                            <li><a href="{% url 'userpage:friendrequests' %}">Friend Requests</a></li>
                            <li><a href="{% url 'userpage:requestssent' %}">Requests Sent</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#editProfile" aria-expanded="false"
    aria-controls="editProfile">
    Edit Profile
</button>



<div class="collapse" id="editProfile">
    <div id="id_update_user_form">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input type="text" class="form-control" name="username" id="id_username" maxlength=30
                            value="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label for="id_first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name" id="id_first_name" maxlength=30
                            value="{{ user.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="id_last_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name" id="id_last_name" maxlength=30
                            value="{{ user.last_name }}">
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input type="text" class="form-control" name="email" id="id_email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label for="id_bio">Bio</label>
                        <input type="text" class="form-control" name="bio" id="id_bio" value="{{ user.bio }}">
                    </div>
                    <div class="form-group">
                        <p><label for="id_avatar">Avatar:</label>
                            <input type="file" name="avatar" accept="image/*" id="id_avatar"></p>
                        <label for="id_vatar_clear">Clear Avatar</label>
                        <input type="checkbox" name="avatar-clear" id="id_avatar_clear">
                    </div>

                    <input type="submit" value="Update" class="btn btn-success" name="submit">
                </form>
            </div>
        </div>
    </div>
</div>



<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#privacySettings"
    aria-expanded="false" aria-controls="privacySettings">
    Privacy and password
</button>
<div class="collapse" id="privacySettings">
    <div id="id_update_user_form">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{privacy_form.as_p}}
                    <input type="submit" value="Update Privacy" class="btn btn-success" name="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}