{% extends 'categories/base.html' %}
{% block title %} {{user.username}} Posts | Dfreemedia{% endblock title %}
{% block content %}

<style>
    .card.bg-dark.text-white {
        width: 397px;
        height: 262;
    }

    .card-img-overlay {
        display: none;
    }
</style>
<h1>Your Dfreemedia posts</h1>
{% for post in posts %}
<a href="{% url 'people:people' post.user.id %}">
    {% if post.user.who_see_avatar == 'everyone' %}
    <img src="{{post.user.avatar.url}}" alt="{{ post.user.username }}" width="64" height="64"
        class="mr-3 float-left {% if user.id <= 1000 %}oldUser{% endif %}" loading="lazy">
    {% elif post.user.who_see_avatar == 'friends' and user in post.user.friends.all %}
    <img src="{{post.user.avatar.url}}" alt="{{ post.user.username }}" width="64" height="64"
        class="mr-3 float-left {% if user.id <= 1000 %}oldUser{% endif %}" loading="lazy">
    {% elif post.user == user %}
    <img src="{{post.user.avatar.url}}" alt="{{ post.user.username }}" width="64" height="64"
        class="mr-3 float-left {% if user.id <= 1000 %}oldUser{% endif %}" loading="lazy">
    {% else %}
    <img src="/media/profile_images/DefaultUserImage.jpg" alt="{{ post.user.username }}" width="64" height="64"
        class="mr-3 float-left {% if user.id <= 1000 %}oldUser{% endif %}" loading="lazy">
    {% endif %}
    <span>{{post.user.username}}</span>
</a>
<a href="{% url 'people:people' post.user.id %}">
</a>
<div class="mb-3">
    <div class="card-body">
        {% if post.description %}
        <blockquote class="blockquote mb-0">
            <p class="text-break">{{post.description|truncatechars:450}} {% if post.description|length > 450%}<a
                    href="{% url 'comments:view_post' post.id %}">Read
                    More</a>{% endif %}</p>
        </blockquote>
        {% endif %}
        <small class="form-text text-muted">{{ post.views.count }} ♦︎ {{ post.post_date|date:'d M Y' }}</small>

        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.user.username }}" height="250" width="40%">
        {% elif post.post_file %}
        <video width="100%" controls class="col-md-10 col-lg-8" preload="none">
            <source src="{{ post.post_file.url }}" type="video/mp4">
            <source src="{{ post.post_file.url }}" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        {% endif %}
    </div>
</div>
<span class="row justify-content-center">
    <span><a href="{% url 'comments:view_post' post.id %}" style="text-decoration: none; color:black;"><i
                class="far fa-comment-dots" style="font-size:36px;"></i></a></span>
    <!-- Like -->
    <form method="GET" id="likeForm{{post.id}}" class="form-inline">
        <button type="submit" name="submit" value="like" title="Like" class="btn btn-link">
            <i class="fa fa-thumbs-o-up" aria-hidden="true" style="font-size:36px" id="likeButton{{post.id}}"></i>
        </button>
    </form>
    <span class="m-3" id="id_likes{{post.id}}">
        {% if user in post.likes.all %}
        <p style="color:#065FD4;"><b>{{post.likes.count}}</b></p>
        {% else %}
        <p style="color:black;">{{post.likes.count}}</p>
        {% endif %}
    </span>
    <!-- add like script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('load', function () {

                $('#likeForm{{post.id}}').click((event) => {
                    event.preventDefault()
                })
                $('#likeButton{{post.id}}').click(function (event) {
                    $.ajax({
                        url: "{% url 'comments:post_like_dislike' post.id %}",
                        data: {
                            'submit': 'like',
                        },
                        method: 'get',
                        dataType: 'json',
                        success: function (data) {
                            let likes = "{{post.likes.count}}";
                            let dislikes = "{{ post.dislikes.count }}"
                            if (data.action == 'undislike_and_like') {
                                dislikes -= 1
                                likes++
                                $('#id_dislikes{{post.id}}').html(
                                    '<p style="color:black;">' +
                                    dislikes + '</p>')
                                $('#id_likes{{post.id}}').html(
                                    '<p style="color:#065FD4;"><b>' +
                                    likes + '</b></p>')
                            } else if (data.action == 'unlike') {
                                likes -= 1
                                $('#id_likes{{post.id}}').html(
                                    '<p style="color:#black;"' +
                                    likes +
                                    '</p>')
                            } else {
                                likes++
                                $('#id_likes{{post.id}}').html(
                                    '<p style="color:#065FD4;"><b>' +
                                    likes + '</b></p>')
                            }
                        }
                    })
                })

            })
        })
    </script>
    <!-- Dislike -->
    <form action="{% url 'comments:post_like_dislike' post.id %}" method="post" class="form-inline"
        id="dislikeForm{{post.id}}">
        {% csrf_token %}
        <button type="submit" id="dislikeButton{{post.id}}" name="submit" value="dislike" title="Dislike" class="btn">
            <i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size:36px"></i>
        </button>
    </form>
    <span class="m-3" id="id_dislikes{{post.id}}">
        {% if user in post.dislikes.all %}
        <p style="color:#065FD4;"><b>{{post.dislikes.count}}</b></p>
        {% else %}
        <p style="color:black;">{{post.dislikes.count}}</p>
        {% endif %}
    </span>
    <!-- add like script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('load', function () {

                $('#dislikeForm{{post.id}}').click((event) => {
                    event.preventDefault()
                })
                $('#dislikeButton{{post.id}}').click(function (event) {
                    $.ajax({
                        url: "{% url 'comments:post_like_dislike' post.id %}",
                        data: {
                            'submit': 'dislike',
                        },
                        dataType: 'json',
                        success: function (data) {
                            let likes = "{{post.likes.count}}";
                            let dislikes = "{{ post.dislikes.count }}"
                            if (data.action == 'unlike_and_dislike') {
                                dislikes++
                                likes -= 1
                                $('#id_dislikes{{post.id}}').html(
                                    '<p style="color:#065FD4;"><b>' +
                                    dislikes + '</b></p>')
                                $('#id_likes{{post.id}}').html(
                                    '<p style="color:black;">' +
                                    likes + '</p>')
                            } else if (data.action == 'undislike') {
                                dislikes -= 1
                                $('#id_dislikes{{post.id}}').html(
                                    '<p style="color:#black;"' +
                                    dislikes +
                                    '</p>')
                            } else {
                                dislikes++
                                $('#id_dislikes{{post.id}}').html(
                                    '<p style="color:#065FD4;"><b>' +
                                    dislikes + '</b></p>')
                            }
                        }
                    })
                })

            })
        })
    </script>
</span>
{% endfor %}


<!-- PAGINATOR -->
<nav aria-label="...">
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item">
            <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo</a>
        </li>
        {% endif %}


        {% for page in posts.paginator.page_range %}
        {% if posts.number == page %}
        <li class="page-item active">
            <a href="?page={{ page }}" class="page-link">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a href="?page={{ page }}" class="page-link">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock content %}