{% extends 'categories/base.html' %}
{% block title %} User Questions {% endblock title %}
{% block content %}
{% for question in questions %}
<div class="card mb-3" style="max-width: 540px;">
<div class="card">
    {% if question.title %}
    <div class="card-header">
        {{ question.title }}
        <small class="form-text text-muted">{{ question.comment_date }}</small>
    </div>
    {% else %}
    <div class="card-header">
        <small class="form-text text-muted">{{ question.comment_date }}</small>
    </div>
    {% endif %}
    <div class="card-body">
        {% if question.title %}
        <h5 class="card-title">{{question.title}}</h5>
        {% endif %}
        <p class="card-text text-break">{{ question.description|truncatechars:300 }}</p>
        <a class="btn btn-primary" href="{% url 'view_comment' question.id %}">View Question</a>

    </div>
</div>
{% endfor %}
</div>
{% endblock content %}