{% extends 'categories/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{user.username}} | Dfreemedia {% endblock title %}

{% block description %}{{user.bio}}{% endblock description %}
{% block content %}
<style>
    .cover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
        url("{{ user.cover.url }}");
    }
</style>
<div style="margin-left: auto; margin-right: auto; width: 90%;">
    <div class="cover">
        {% if user.is_authenticated %}
        <a href="#">
            <img src="{{user.avatar.url}}" alt="User Image">
        </a>
        <h1>{{ user.username }}</h1>
        {% else %}
        <a href="#">
            <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image">
        </a>
        <h1>Guest</h1>
        {% endif %}
        <button type="button" class="btn btn-outline-warning float-right mr-5" data-toggle="modal"
            data-target="#editProfile"><i class="fas fa-edit"></i> Edit
            profile</button>
        <p><span id="followersCount">{{ user.followers.count }}</span> Followers</p>
    </div>

    <nav id="optionsNavbar">
        <ul>
            <li><a href="{% url 'userpage:posts' %}">{{ user.post_set.count }} Posts</a></li>
            <li><a href="{% url 'userpage:friends' %}">{{user.friends.all.count}} Friends</a></li>
            <li><a href="{% url 'userpage:requests' %}">Requests</a></li>
            <li><a href="{% url 'userpage:invites' %}">Invites</a></li>
        </ul>
    </nav>

    {% block option %}{% endblock option %}
    <div class="modal fade " id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgba(3, 123, 208, 0.7)">
                    <nav id="editNavbar">
                        <ul>
                            <li>Personal</li>
                            <li>Distraction Free</li>
                            <li>Privacy</li>
                            <li>Advance</li>
                        </ul>
                    </nav>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Personal form -->
                    <form action="{% url 'userpage:edit_user' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="personalForm" class="editForm">
                            {{ personal_form|crispy }}
                            <div class="form-group">
                                <label for="id_email">Email: {{ user.email }}</label>
                                <a href="{% url 'set_email_and_phone' %}" target="_blank">
                                    <span<i class="far fa-edit ml-3"></i>Change</span>
                                </a>
                            </div>
                            <div class="form-group">
                                <label for="id_email">Phone number: {{ user.phone }}</label>
                                <a href="{% url 'set_email_and_phone' %}" target="_blank">
                                    <span<i class="far fa-edit ml-3"></i>Change</span>
                                </a>
                            </div>
                        </div>

                        <!-- Distraction Free form -->
                        <div id="distractionFreeForm" class="editForm">
                            <div class="btn-group dropright">
                                <button type="button" class="btn btn dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Notifications
                                </button>
                                <div class="dropdown-menu" id="notificationFields"
                                    style="width: 250px; max-height:200px; overflow:scroll; ">
                                </div>
                            </div>
                            <br>
                            <br>
                            {% for field in distraction_free_form %}
                            {% if field.html_name == 'allow_important_friend_messages' or field.html_name == 'allow_important_group_message' or field.html_name == 'allow_normal_friend_message' or field.html_name == 'allow_normal_group_message' or field.html_name == 'allow_comment_message' or field.html_name == 'allow_reply_message' or field.html_name == 'allow_invites' or field.html_name == 'your_invites' %}
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    window.addEventListener('load', function () {
                                        $('#notificationFields').append(`
                            {{field.label|safe}}
                            {{field}}
                            <br>
                            `)
                                    })
                                })
                            </script>
                            {% else %}
                            {{field.label|safe}}
                            {{field}}
                            <br>
                            <br>
                            {% endif %}
                            {% endfor %}
                            <input type="submit" name="submit" value="Dfree" class="btn btn-success" id="submitDFree"
                                style="display: none;">
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    window.addEventListener('load', function () {
                                        $('#notificationFields').click(function (event) {
                                            event.stopPropagation();
                                        })
                                    })
                                })
                            </script>
                        </div>

                        <!-- Privacy Form -->
                        <div id="privacyForm" class="editForm">
                            {{privacy_form|crispy}}
                        </div>

                        <!-- Advance Form -->
                        <div id="advanceForm" class="editForm">
                            <div class="form-group">
                                <a href="{% url 'password_reset' %}">Reset Password</a>
                            </div>
                        </div>

                        <button type="submit" id="saveChanges" style="display: none;"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"
                        onclick="document.querySelector('#saveChanges').click()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'userpage/userbase.css' %}">
<script src="{% static 'userpage/userbase.js' %}"></script>
{% endblock content %}