{% load static %}
{% load crispy_forms_tags %}
{% load webpush_notifications %}
{% load socialaccount %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% progressive_web_app_meta %}
    <script data-ad-client="ca-pub-2852400661142864" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script data-ad-client="pub-2852400661142864" async src="https://pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
    {% webpush_header %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-176113474-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-176113474-1');
    </script>
    <!-- End google analytics -->

    <script async src="https://kit.fontawesome.com/78f2495e06.js" crossorigin="anonymous"></script>

    <link rel='shortcut icon' href="{% static 'categories/favicon.png' %}" type="image/jpg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="{% block description %} {% endblock description %}">
    <meta name="author" content="Zeyad Shaban">
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>

    <nav class="navbar main-nav navbar-expand sticky-top">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'categories/favicon.png' %}" width="45" height="45" alt="Website Logo" loading="lazy"
                title="Dfreemedia">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <div><a href="{% url 'userpage:posts' %}" title="Profile">
                        <span>
                            {% if user.is_authenticated %}
                            <img id="id_nav_avatar" src="{{ user.avatar.url }}" alt="" loading="lazy">
                            <span id="Userusername" data-username="{{user.username}}"
                                data-pk="{{  user.id }}">{{user.username}}
                            </span>
                            {% else %}
                            <img id="id_nav_avatar" src="/media/profile_images/DefaultUserImage.jpg" alt=""
                                loading="lazy">
                            <span id="Userusername" data-username="Guest" data-pk="0">Guest
                            </span>
                            {% endif %}
                        </span>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a href="{% url 'people:all_people' %}"><span style="color:rgb(255, 255, 255);" id="findFriends"><i
                            class="fas fa-user-plus mr-1" style="font-size: 24px;"></i>Find
                        Friends</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'chat' %}" title="Chat">
                    <i class="fas fa-comment-alt mr-1"
                        style="font-size:24px; color: rgb(255, 255, 255)"></i><span>Chat</span>
                </a>
            </li>
            <li class="nav-item">
                <button class="btn" data-toggle="modal" data-target="#notifications">
                    <i class="fas fa-bell" id="notificationBell"></i>
                    {% if unread_notif_count > 0 %}
                    <div class="badge unRead">{{ unread_notif_count }}</div>
                    {% else %}
                    <span class="badge unRead" style="color: white;" id="notificationsCount"></span>
                    {% endif %}
                </button>
            </li>
            <li>
                <p data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                    style="display: inline-block;"><i class="fas fa-sort-down"
                        style="color: white; font-size: 36px;"></i><span class="caret"></span></p>
                <ul class="dropdown-menu main-dropdown-menu">
                    <li>
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://www.dfreemedia.com"
                            data-a2a-title="Dfreemedia" class="share-app">
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_linkedin"></a>
                            <a class="a2a_button_whatsapp"></a>
                        </div>
                        <script>
                            var a2a_config = a2a_config || {};
                            a2a_config.onclick = 1;
                        </script>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </li>
                    <li>
                        <button type="button" class="btn" data-toggle="modal" data-target="#feedback"
                            id="write-feedback">
                            Write a Feedback
                        </button>
                    </li>
                    <li>
                        <a class="btn" href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a class="btn" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li>
                        <a class="btn" href="{% url 'production:announcements' %}">Updates </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li role="separator" class="divider"></li>
                    <br>
                    <form action="{% url 'logoutuser' %}" method="POST">
                        {% csrf_token %}
                        <input class="btn" type="submit" value="Logout">
                    </form>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </nav>
    <span id="message_area">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">{{message|safe}}</div>
        {% else %}
        <div class="alert alert-{{message.tags}}">{{message|safe}}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </span>

    <!-- Feedback modal -->
    <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedbackLabel">Write a Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div>
                        <div>
                            <form method="POST" action="{% url 'feedback' %}" id="feedback-form"
                                data-csrf_token="{{ csrf_token }}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% if not user.is_authenticated %}
                                    <input type="text" name="name" placeholder="Name" id="feedback_name" maxlength="30"
                                        required>
                                    {% endif %}
                                    {% if not user.is_authenticated  or not user.email %}
                                    <input type="email" name="email" placeholder="Email *Optional*" id="feedback_email">
                                    {% endif %}
                                </div>
                                <div class="from-group">
                                    <textarea type="text" placeholder="Review" id="feedback_review" name="review"
                                        required></textarea>
                                </div>
                                <button type="submit" id="send_feedback">SEND</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- notifications modal -->
    <div class="modal fade" id="notifications" tabindex="-1" role="dialog" aria-labelledby="notificationsLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationsLabel">({{ unread_notif_count }}) Notifications
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div style="margin: 30px auto 30px auto; text-align: center;">
                            <h4>Notifications</h4>
                            {% if user.is_authenticated %}
                            <span class="ml-2">
                                {% webpush_button with_class="btn btn-outline-success btn-sm" %}
                            </span>
                            <span><i class="fas fa-bell" style="font-size:24px"></i></span>
                            {% endif %}
                        </div>
                        <ul id="notificationsContainer">
                            {% if notifications.count > 0 %}
                            {% for notification in notifications %}
                            <li {% if not notification.is_read %}style="background-color: #EBF0FF;" {% endif %}
                                class="notification" data-pk="{{ notification.id }}">
                                <a href="{% url 'social:click_notification' notification.id %}">
                                    <div class="media">
                                        {% if notification.sender.who_see_avatar == 'everyone' %}
                                        <img src="{{notification.sender.avatar.url}}" class="" alt="User Image"
                                            width="50" height="50" loading="lazy">
                                        {% elif notification.sender.who_see_avatar == 'friends' and user in notification.sender.friends.all %}
                                        <img src="{{notification.sender.avatar.url}}" class="" alt="User Image"
                                            width="50" height="50" loading="lazy">
                                        {% elif notification.sender == user %}
                                        <img src="{{notification.sender.avatar.url}}" class="" alt="User Image"
                                            width="50" height="50" loading="lazy">
                                        {% else %}
                                        <img src="/media/profile_images/DefaultUserImage.jpg" class="" alt="User Image"
                                            width="50" height="64" loading="lazy">
                                        {% endif %}
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ notification.sender.username }}</h5>
                                            <p>{{ notification.content }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    {% if notifications.count > 0 %}
                    <a href="{% url 'social:read_all_notifications' %}" class="btn"> Mark all as read</a>
                    <br>
                    <a href="{% url 'social:delete_all_notifications' %}"
                        onclick="return confirm('Delete all notifications?')"
                        style="text-decoration: none; color: red; margin-right: 30px;"><i class="fas fa-trash-alt"></i>
                        Delete all</a>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End notifications modal -->
    {% block content %} {% endblock content %}
    {% if not user.is_authenticated %}
    <style>
        #floatAuthForm {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 15vh;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            text-align: center;
        }

        #appDesc {
            margin-left: 10vh;
            margin-top: 0.5%;
        }

        #authBtns {
            position: absolute;
            top: 20%;
            right: 10px;
        }

        #login {
            margin-right: 10px;
            color: white;
            border: 2px solid white;
            border-radius: 30px;
            background: #1DA1F2;
        }

        #signup {
            background-color: #fa8231;
            border: 2px solid #2194D9;
            border-radius: 30px;
            color: #ffffff;
        }

        @media screen and (max-width: 638px) {
            #appDesc {
                display: none;
            }

            #authBtns {
                position: static;
                padding-top: 20px;
            }

            #login {
                width: 40%;
            }

            #signup {
                width: 40%;
            }
        }

        section {
            margin-bottom: 60px
        }

        .box {
            width: 50%;
            float: right;
            padding-left: 2rem;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 80px;
            color: white;
        }

        .box h2 {
            margin: 0 0 1.875rem;
            padding: 0;
            text-align: center;
        }

        .box a {
            text-decoration: none;
            color: white;
        }


        .form-group {
            margin-bottom: 30px !important;
        }

        input.floatSignup {
            height: 50px !important;
            width: 364px !important;
        }

        input.floatAuthBtn {
            border: none;
            background-color: #03a9f4;
            padding: 10px 50px;
            color: white;
            border-radius: 200px;
            font-size: 140%;
            margin: 10px auto;
            transition: background-color 0.2s;
            letter-spacing: 1px;

        }

        input.floatAuthBtn:hover {
            background-color: #0392d2;
        }


        /* --------Social login-------------- */

        .social-login {
            padding: 5px 10px;
            display: inline-block;
            margin-bottom: 30px;
            font-size: 90%;
            font-weight: 300;
            text-decoration: none !important;
            transition: background-color 0.2s;
            color: white !important
        }

        .social-login img {
            width: 30px;
            height: inherit;
            justify-content: center;
        }

        .google-login {
            background-color: #4c8bf5;
        }

        .google-login:hover,
        .google-login:active {
            background-color: #2c76f3;
        }

        .facebook-login {
            background-color: #3a5998;
            margin-left: 20px
        }

        .facebook-login:hover,
        .facebook-login:active {
            background-color: #314b7f;
        }
    </style>
    <!-- ---------------------STICKY LOGIN/SIGNUP--------------------- -->
    <div id="floatAuthForm">
        <div class="float-left" id="appDesc">
            <h4 style="margin-left: 30px">Why having 5 social media apps?!</h4>
            <p class="ml-4">Customize Dfreemedia to match your needs.</p>
        </div>
        <div id="authBtns">
            <button type="button" class="btn " data-toggle="modal" data-target="#loginFloatForm"
                id="login">Login</button>
            <button type="button" class="btn" data-toggle="modal" data-target="#signupFloatForm" id="signup">Sign
                Up</button>
        </div>
    </div>

    <!-- ---------------------SIGNUP MODAL--------------------- -->
    <div class="modal fade" id="signupFloatForm" tabindex="-1" role="dialog" aria-labelledby="signupFloatFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 style="margin: 0 0 1.875rem; text-align: center;">Join Dfreemedia</h2>
                    <div style="text-align: center;">
                        <a href="{% provider_login_url 'google' %}" class="social-login google-login"><img
                                src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_960_720.png" alt="G">
                            Login with
                            Google</a>
                        <a href="#" class="social-login facebook-login" style="display: none;"><img
                                src="https://cdn.pixabay.com/photo/2017/06/22/06/22/facebook-2429746_960_720.png"
                                alt="F">
                            Login with
                            Facebook</a>
                    </div>

                    <form method="POST" action="{% url 'signupuser' %}">
                        {% csrf_token %}
                        <section>
                            <div class="form-group">
                                <input type="text" class="form-control col-md-10 floatSignup" id="id_username"
                                    name="username" maxlength="30" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password1" class="form-control col-md-10 floatSignup"
                                    id="password1" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password2" class="form-control col-md-10 floatSignup"
                                    id="password2" placeholder="Confirm Password" required>
                            </div>
                        </section>

                        <section style="width: 364px;">
                            <div class="form-group">
                                <div id="div_id_hide_recommended_posts" class="form-check">
                                    <input type="checkbox" name="hide_recommended_posts"
                                        class="checkboxinput form-check-input" id="id_hide_recommended_posts">
                                    <label for="id_hide_recommended_posts" class="form-check-label">
                                        Hide recommended posts
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="div_id_hide_comments" class="form-check"> <input type="checkbox"
                                        name="hide_comments" class="checkboxinput form-check-input"
                                        id="id_hide_comments">
                                    <label for="id_hide_comments" class="form-check-label">
                                        Hide comments
                                    </label> </div>
                            </div>
                            <div id="div_id_blocked_topics" class="form-group"> <label for="id_blocked_topics"
                                    class=" requiredField">
                                    Blocked topics <small class="form-text mb-3" style="font-size: 70%">Hold cmd/ctrl
                                        for desktop
                                        users</small></label>
                                <br>
                                <select name="blocked_topics" required="" id="id_blocked_topics" multiple="">
                                    {% for category in categories %}
                                    <option value="{{ category.id }}" selected="">{{ category.title }}</option>
                                    {% endfor %}
                                </select>
                        </section>

                        <small class="form-text">By clicking sign up I agree
                            to <a href="{% url 'termsandconditions' %}" target="_blank">Terms and
                                Conditions</a>, <a href="{% url 'privacypolicy' %}" target="_blank">Privacy
                                Policy</a>, and <a href="{% url 'cookiepolicy' %}" target="_blank">Cookie
                                Policy</a></small>
                        <input type="submit" name="sign-up" value="SIGN UP" class="floatAuthBtn" id="mainFloatSignupBtn"
                            style="display: none;">
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="sign-up" value="SIGN UP" class="floatAuthBtn"
                        onclick="document.querySelector('#mainFloatSignupBtn').click()">
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------LOGIN MODAL--------------------- -->
    <div class="modal fade" id="loginFloatForm" tabindex="-1" role="dialog" aria-labelledby="loginFloatFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 style="margin: 0 0 1.875rem; text-align: center;">Log In Dfreemedia</h2>
                    <div style="text-align: center;">
                        <a href="{% provider_login_url 'google' %}" class="social-login google-login"><img
                                src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_960_720.png" alt="G">
                            Login with
                            Google</a>
                        <a href="#" class="social-login facebook-login" style="display: none;"><img
                                src="https://cdn.pixabay.com/photo/2017/06/22/06/22/facebook-2429746_960_720.png"
                                alt="F">
                            Login with
                            Facebook</a>
                    </div>

                    <form method="POST" action="{% url 'loginuser' %}">
                        {% csrf_token %}
                        <section>
                            <div class="form-group">
                                <input type="text" class="form-control col-md-10 floatSignup" id="id_username"
                                    name="username" maxlength="30" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control col-md-10 floatSignup"
                                    id="password" placeholder="Password" required>
                            </div>
                        </section>
                        <input type="submit" name="log-in" value="LOG IN" class="floatAuthBtn" id="mainFloatLoginBtn"
                            style="display: none;">
                    </form>
                    <div class="text-center">
                        Forgot password? <a href="{% url 'password_reset' %}">reset here</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="log-in" value="LOG IN" class="floatAuthBtn"
                        onclick="document.querySelector('#mainFloatLoginBtn').click()">
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('load', function () {
                document.querySelector('#toggleLoginPass').onclick = function (e) {
                    e.preventDefault();
                    if ($('#toggleLoginPass').hasClass('fa-eye-slash')) {
                        $('#loginPass').attr('type', 'text');
                        $('#toggleLoginPass').removeClass('fa-eye-slash');
                        $('#toggleLoginPass').addClass('fa-eye');
                    } else {
                        $('#loginPass').attr('type', 'password')
                        $('#toggleLoginPass').removeClass(`fa-eye`)
                        $('#toggleLoginPass').addClass(`fa-eye-slash`)
                    }
                }
                document.querySelector('#toggleSignupPass').onclick = function (e) {
                    e.preventDefault();
                    if ($('#toggleSignupPass').hasClass('fa-eye-slash')) {
                        $('.signupPass').attr('type', 'text');
                        $('#toggleSignupPass').removeClass('fa-eye-slash');
                        $('#toggleSignupPass').addClass('fa-eye');
                    } else {
                        $('.signupPass').attr('type', 'password')
                        $('#toggleSignupPass').removeClass(`fa-eye`)
                        $('#toggleSignupPass').addClass(`fa-eye-slash`)
                    }
                }
            });
        });
    </script>

    {% endif %}


    <!-- CDN -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Start bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <!-- End bootstrap js -->

    <link rel="stylesheet" href="{% static 'categories/basestyle.css' %}">
    <script src="{% static 'categories/basescript.js' %}"></script>
    <!-- END CDN -->

    <!-- Manefist -->
    <script>
        if ('serviceWorker' in navigator) {
            console.log("Will the service worker register?");
            navigator.serviceWorker.register('serviceworker.js')
                .then(function (reg) {
                    console.log("Yes, it did.");
                }).catch(function (err) {
                    console.log("No it didn't. This happened: ", err)
                });
        }
    </script>
    <!-- End manefist -->

</body>

</html>