{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'categories/basestyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="{% static 'categories/favicon.jpg' %}" type="image/png">
    <meta name="description" content="Want help in any field? Let our professional workers help you in it, 100% free">
    <meta name="keywords" content="negawb, ask, Question, answer, QandA, help, all, fields, free">
    <meta name="author" content="Zeyad Shaban">
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'categories/logo.png' %}" width="35" height="30" alt="Website Logo" loading="lazy">
        </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
        <li class="nav-item">
            <div>
                <div><a href="{% url 'userpage:home' %}" title="Profile">
                        <span>
                            <img id="id_nav_avatar" src="{{ user.avatar.url }}" alt="">
                            <span>{{user.username}}
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </li>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-">
                <li class="nav-item">
                    <a href="{% url 'comments:comments' %}" title="All Questions and Ask">Ask Question</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'people:all_people' %}">Find Friends</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create & Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'comments:comments' %}">Question</a>
                        <button type="button" class="btn btn-primary dropdown-item" data-toggle="modal"
                            data-target="#createChatGroup" data-whatever="createChatGroup">Chat Group</button>
                        <div class="dropdown-divider"></div>
                        <!-- Todo add feedback form -->
                        <a class="dropdown-item" href="#">FeedBack</a>
                    </div>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form action="{% url 'makeuser:logoutuser' %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Logout">
                    </form>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url 'makeuser:signupuser' %}">SignUp</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'makeuser:loginuser' %}">Login</a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a href="{% url 'social:my_groups' %}" title="Groups" style="background:white;">
                        <img src="{% static 'categories/GroupIcon.png' %}" width="30" height="30" alt="" loading="lazy">
                    </a>
                    <!-- todo use image instead of text -->
                    {% if user.is_authenticated %}
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#createTodo"
                        aria-expanded="false" aria-controls="createTodo">
                        Todo
                    </button>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            {% block searchbar %} {% endblock searchbar %}
        </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger">{{message}}</div>
    {% else %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- *Create Group -->
    <div class="container">
        <div class="modal fade " id="createChatGroup" tabindex="-1" role="dialog" aria-labelledby="createChatGroupLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Chat Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'social:create_chat_group' %}" name="createChatGroup" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_title">Name of the group</label>
                                <input type="text" id="id_title" value="" name="title" class="form-control"
                                    maxlength="75" required>
                            </div>
                            <div class="form-group">
                                <label for="id_description">Description</label>
                                <small class="form-text text-muted">optional</small>
                                <input type="text" id="id_description" value="" name="description" class="form-control"
                                    maxlength="200">
                            </div>
                            <div class="form-group">
                                <label for="id_image">Group image</label>
                                <small class="form-text text-muted">We will use the default image if nothing was
                                    provided</small>
                                <input type="file" name="image" accept="image/*" id="id_image"></p>
                            </div>
                            <div class="form-group">
                                <label for="id_is_public">Do you want it public?</label>
                                <input type="checkbox" id="id_is_public" name="is_public" class="form-control"
                                    maxlength="200">
                            </div>

                            <input type="submit" name="submit" value="Create" class="btn btn-success">
                        </form>
                    </div>
                </div>
            </div>
        </div>




        {% block content %} {% endblock content %}




        <!-- * Create Todo -->
        <div class="collapse" id="createTodo">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim
                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>