{% load static %}
{% load crispy_forms_tags %}
{% load webpush_notifications %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script data-ad-client="ca-pub-2852400661142864" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script data-ad-client="pub-2852400661142864" async src="https://pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
    {% webpush_header %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-176113474-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-176113474-1');
    </script>
    <script async src="https://kit.fontawesome.com/78f2495e06.js" crossorigin="anonymous"></script>
    <link rel='shortcut icon' href="{% static 'categories/favicon.jpg' %}" type="image/jpg">
    <meta name="description" content="{% block description %} {% endblock description %}">
    <meta name="author" content="Zeyad Shaban">
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>

    <nav
        class="navbar navbar-expand-xl navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark {% if user.fixed_navbar or not user.is_authenticated %}sticky-top{% endif %}">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'categories/favicon.jpg' %}" width="35" height="30" alt="Website Logo" loading="lazy"
                title="Dfreemedia">
        </a>
        <li class="nav-item" id="stickyChatBtn">
            <a href="{% url 'chat' %}" title="Chat">
                <i class="fas fa-comment-alt mr-1"
                    style="font-size:24px; color: rgb(255, 255, 255)"></i><span>Chat</span>
            </a>
        </li>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-">
                <li class="nav-item">
                    <div><a href="{% url 'userpage:home' %}" title="Profile">
                            <span>
                                <img id="id_nav_avatar" src="{{ user.avatar.url }}" alt="">
                                <span id="Userusername" data-username="{{user.username}}">{{user.username}}
                                </span>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'people:all_people' %}"><span style="color:rgb(255, 255, 255);" id="findFriends"><i
                                class="fas fa-user-plus mr-1" style="font-size: 24px;"></i>Find
                            Friends</span>
                    </a>
                </li>
                <li class="nav-item" id="mainChatBtn">
                    <a href="{% url 'chat' %}" title="Chat">
                        <i class="fas fa-comment-alt mr-1"
                            style="font-size:24px; color: rgb(255, 255, 255)"></i><span>Chat</span>
                    </a>
                </li>
                <div class="btn-group">
                    <div title="Notifications" class="master-menu-right-item" id="app-menu" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell" style="font-size: 36px; color: rgb(209, 202, 202); cursor: pointer"></i>

                        {% if notifications.count > 0 %}
                        <span class="badge" style="color: white;"
                            id="currNotificationsCount">{{ notifications.count }}</span>
                        {% else %}
                        <span class="badge" style="color: white;" id="currNotificationsCount"></span>
                        {% endif %}
                    </div>
                    <li class="dropright mt-5">
                        <div class="dropdown-menu master-menu-dropdown" aria-labelledby="app-menu"
                            id="notificationDropMenu">
                            <audio id="notificationSound">
                                <source src="{% static 'social/notificationsound.wav' %}" type="audio/wav">
                                <source src="{% static 'social/notificationsound.wav' %}" type="audio/mp3">
                                <source src="{% static 'social/notificationsound.wav' %}" type="audio/ogg">
                                <source src="{% static 'social/notificationsound.wav' %}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <div id="notificationsList" data-url="{% url 'social:load_notifications' %}"
                                data-getUserUrl="{% url 'userpage:get_user_by_id' %}" data-currUser="{{ user }}">
                                <h4>Notifications</h4>
                                {% if user.is_authenticated %}
                                {% webpush_button with_class="btn btn-outline-success btn-sm" %}
                                <span><i class="fas fa-bell" style="font-size:24px"></i></span>
                                <small class="form-text text-muted">If you can't enable it disable the notification
                                    permission from your browser and click on it again</small>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item active notificationType" date-wantedType="all">All</li>
                                    {% if user.allow_important_friend_messages or user.allow_important_group_message or user.allow_normal_friend_message or user.allow_normal_group_message %}
                                    <li class="list-group-item notificationType" date-wantedType="messages">Messages
                                    </li>
                                    {% endif %}

                                    {% if user.allow_comment_message or user.allow_reply_message %}
                                    <li class="list-group-item notificationType" date-wantedType="society">
                                        Comments/Replies
                                    </li>
                                    {% endif %}
                                </ul>
                                <ul class="list-group list-group-horizontal">
                                    {% if user.allow_invites %}
                                    <li class="list-group-item notificationType" date-wantedType="invites">Invites</li>
                                    {% endif %}

                                    {% if user.your_invites %}
                                    <li class="list-group-item notificationType" date-wantedType="your_invites">Your
                                        invites
                                    </li>
                                    {% endif %}
                                </ul>
                                <div id="notificationsContainer">
                                    {% if notifications.count > 0 %}
                                    {% for notification in notifications %}
                                    <a href="{{ notification.url }}" style="text-decoration: none; color: black">
                                        <div class="media" style="background: #F7F7F7;">
                                            {% if notification.sender.who_see_avatar == 'everyone' %}
                                            <img src="{{notification.sender.avatar.url}}" class="" alt="User Image"
                                                width="50" height="50">
                                            {% elif notification.sender.who_see_avatar == 'friends' and user in notification.sender.friends.all %}
                                            <img src="{{notification.sender.avatar.url}}" class="" alt="User Image"
                                                width="50" height="50">
                                            {% elif notification.sender == user %}
                                            <img src="{{notification.sender.avatar.url}}" class="" alt="User Image"
                                                width="50" height="50">
                                            {% else %}
                                            <img src="/media/profile_images/DefaultUserImage.jpg" class=""
                                                alt="User Image" width="50" height="64">
                                            {% endif %}
                                            <div class="media-body">
                                                <h5 class="mt-0">{{ notification.sender.username }}</h5>
                                                <p>{{ notification.content }}</p>
                                            </div>
                                        </div>
                                    </a>
                                    <hr>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </li>
                </div>
                <li class="dropdown ml-3 dropleft">
                    <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="fas fa-sort-down"
                            style="color: white; font-size: 36px;"></i><span class="caret"></span></a>
                    <ul class="dropdown-menu float-right mr-100 mt-5" style="text-align: center;">
                        <li>
                            <a class="btn" href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a class="btn" href="{% url 'faq' %}">FAQ</a>
                        </li>

                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'production:note' %}" class="btn">
                                <i class="far fa-sticky-note mr-1"
                                    style="font-size: 24px; color:black"></i><span>Notes</span>
                            </a>
                        </li>
                        {% endif %}
                        <!-- AddToAny BEGIN -->
                        <a class="a2a_dd btn" href="https://www.addtoany.com/share"><i class="fas fa-share-alt"
                                style="font-size: 20px; color: #35A0FE"></i> Share</a>
                        <script>
                            var a2a_config = a2a_config || {};
                            a2a_config.onclick = 1;
                        </script>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                        <li>
                            <a style="color: black; text-decoration: none;"
                                href="{% url 'production:announcements' %}">Announcements </a>
                        </li>
                        <li>
                            <a class="btn" href="{% url 'feedback' %}" class="mb-2">Feedback</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li role="separator" class="divider"></li>
                        <br>
                        <form action="{% url 'logoutuser' %}" method="POST">
                            {% csrf_token %}
                            <input class="btn" type="submit" value="Logout">
                        </form>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            {% block searchbar %} {% endblock searchbar %}
        </div>
    </nav>
    <span id="message_area">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">{{message|safe}}</div>
        {% else %}
        <div class="alert alert-{{message.tags}}">{{message|safe}}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </span>
    {% if not user.is_authenticated %}
    <div class="modal fade" id="signupFloatForm" tabindex="-1" role="dialog" aria-labelledby="signupFloatFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content" style="background: #cccccc;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h1>Join Dfreemedia</h1>
                        <h4>And organize your chat for better life</h4>
                        <h4>Enable chat only mode for maximum productivity</h4>
                        <h4>Control posts and notifications you receive</h4>
                        <h4>Hide comments and recommended posts to help you focus</h4>
                        <h4>Set up email and phone num. for friends to easily find you</h4>
                        <p>And much more!</p>
                    </div>
                    <form method="POST" action="{% url 'signupuser' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username"
                                aria-describedby="usernameHelp" required maxlength="40">
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input type="password" name="password1" class="form-control signupPass" id="password1"
                                style="float: left; width: 90%;" required>
                            <i class="fas fa-eye-slash btn" id="toggleSignupPass" style="float: right; width:10%"></i>
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" name="password2" class="form-control signupPass" id="password2"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="chat_only_mode">Chat only mode</label>
                            <input type="checkbox" name="chat_only_mode" class="form-control" id="chat_only_mode">
                        </div>
                        <div class="form-group">
                            <label for="password2">Homepage hashtags</label>
                            <input type="text" class="form-control" name="homepage_hashtags" id="id_homepage_hashtags"
                                placeholder="#sports #love #dfreemedia">
                            </input>
                            <br>
                            <small class="form-text-text-muted">Hashtags you choose will be displayed as your default
                                homepage posts, leave blank to disable filtering</small>
                        </div>
                        <small class="form-text text-muted mb-2"> <input type="checkbox" name="" id="" class="mr-2"
                                required>I agree
                            to <a href="{% url 'termsandconditions' %}" target="_blank">Terms and
                                Conditions</a>, <a href="{% url 'privacypolicy' %}" target="_blank">Privacy
                                Policy</a>, and <a href="{% url 'cookiepolicy' %}" target="_blank">Cookie
                                Policy</a></small>
                        <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginFloatForm" tabindex="-1" role="dialog" aria-labelledby="loginFloatFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content" style="background: #CCCCCC;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="{% static 'categories/favicon.jpg' %}" alt="Dfreemedia favicon" class="rounded-circle"
                            height="200">
                        <h1>Log into Dfreemedia</h1>
                    </div>
                    <form method="POST" action="{% url 'loginuser' %}" id="loginForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password loginPass"
                                style="float: left; width: 90%" required>
                            <i class="fas fa-eye-slash btn" id="toggleLoginPass" style="float: right; width:10%"></i>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        Forgot password? <a href="{% url 'password_reset' %}">reset here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('load', function () {
                function popSignUpForm() {
                    if (!$('#signupFloatForm').hasClass('show') && !$('#loginFloatForm')
                        .hasClass('show') && !window.location.href.includes('/signup/') &&
                        !window.location.href.includes('/login/') && !window.location.href.includes(
                            '/chat/')) {
                        $('#signupFloatForm').modal('show')
                    }
                }
                setTimeout(() => {
                    popSignUpForm()
                }, 5000);
                document.querySelector('#toggleLoginPass').onclick = function (e) {
                    e.preventDefault();
                    if ($('#toggleLoginPass').hasClass('fa-eye-slash')) {
                        $('#loginPass').attr('type', 'text');
                        $('#toggleLoginPass').removeClass('fa-eye-slash');
                        $('#toggleLoginPass').addClass('fa-eye');
                    } else {
                        console.log('it does not have class')
                        $('#loginPass').attr('type', 'password')
                        $('#toggleLoginPass').removeClass(`fa-eye`)
                        $('#toggleLoginPass').addClass(`fa-eye-slash`)
                    }
                }
                document.querySelector('#toggleSignupPass').onclick = function (e) {
                    e.preventDefault();
                    if ($('#toggleSignupPass').hasClass('fa-eye-slash')) {
                        $('.signupPass').attr('type', 'text');
                        $('#toggleSignupPass').removeClass('fa-eye-slash');
                        $('#toggleSignupPass').addClass('fa-eye');
                    } else {
                        console.log('it does not have class')
                        $('.signupPass').attr('type', 'password')
                        $('#toggleSignupPass').removeClass(`fa-eye`)
                        $('#toggleSignupPass').addClass(`fa-eye-slash`)
                    }
                }
            });
        });
    </script>


    {% endif %}
    {% block content %} {% endblock content %}
    {% if not user.is_authenticated %}
    <style>
        #floatAuthForm {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 15vh;
            background-color: rgba(0, 0, 0, 0.473);
            color: white;
            text-align: center;
        }

        #appDesc {
            margin-left: 10vh;
            margin-top: 15px;
        }

        #authBtns {
            padding-top: 20px;
        }

        #login {
            margin-right: 10px;
            border: 2px solid white;
            border-radius: 30px;
        }

        #signup {
            border-radius: 30px
        }

        @media screen and (max-width: 638px) {
            #appDesc {
                display: none
            }

            #login {
                width: 40%;
            }

            #signup {
                width: 40%;
            }
        }
    </style>
    <div id="floatAuthForm">
        <div class="float-left" id="appDesc">
            <h4 style="margin-left: 30px">Don't let social media distract you</h4>
            <p>Dfreemedia is the least distractive app.</p>
        </div>
        <div id="authBtns">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginFloatForm"
                id="login">Login</button>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#signupFloatForm"
                id="signup">Sign Up</button>
        </div>
    </div>
    {% endif %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Start bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <!-- End bootstrap js -->

    <link rel="stylesheet" href="{% static 'categories/basestyle.css' %}">
    <link rel="stylesheet" href="{% static 'social/emojionearea.min.css' %}">
    <script src="{% static 'social/emojionearea.min.js' %}"></script>
    <script src="{% static 'categories/basescript.js' %}"></script>
</body>

</html>