{% extends 'categories/base.html' %}
{% block title %} Comments {% endblock title %}

{% block searchbar %}
<form class="form-inline" action="{% url 'results_comment' %}" method="GET">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>
{% endblock searchbar %}

{% block content %}
<br>
{% if user.is_authenticated %}
<button class="btn btn-primary" id="add-comment">Ask Question</button>
{% else %}
<div class="alert alert-danger">you can't add or view comments unless you are logged in</div>
{% endif %}
<p>Comment{{ comments.count|pluralize }}: {{comments.count}}</p>
<br>
<!-- Add Comoment -->
<form style="display:none;" id="create-comment" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name='title' class="form-control" id='title' placeholder="Optional">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name='description' class="form-control" id="description" required></textarea>
    </div>
    <!-- {{form.as_p}} -->
    <input class="btn btn-success" type="submit" value="Add Comment">
</form>
<br>
<!-- end add comment -->
{% for comment in comments %}
<div class="card">
    <div class="card-header">
        {{ comment.user}}
        <small class="form-text text-muted">{{ comment.comment_date }}</small>
    </div>
    <div class="card-body">
        {% if comment.title %}
        <h5 class="card-title">{{comment.title}}</h5>
        {% endif %}
        <p class="card-text text-break">{{ comment.description|truncatechars:300 }}</p>
        <a href="{% url 'view_comment' comment.id %}" class="btn btn-primary" target="_blank">View Comment, Reply</a>
    </div>
</div>
{% endfor %}
{% endblock content %}