{% extends 'categories/base.html' %}

{% block title %}
{{category.title}}
{% endblock title %}
{% block content %}
<style>
    .card.bg-dark.text-white {
        width: 397px;
        height: 262;
    }

    .card-img-overlay {
        display: none;
    }
</style>


<form method="POST" class="mb-4" enctype="multipart/form-data" action="{% url 'comments:create_post' category.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_post_description">Description</label>
        <textarea type="text" name="description" id="id_post_description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <p><label for="id_post_image">Optional Image</label>
            <input type="file" name="image" accept="image/*" id="id_image"></p>
    </div>
    <div class="form-group">
        <p><label for="id_post_image">Or Video</label>
            <input type="file" name="post_file" accept="*" id="id_post_file"></p>
    </div>
    <small class="form-text text-muted">You don't have to specify image or video, but if you do then only one of
        them</small>

    <input type="submit" value="Add Post" class="btn btn-primary" id="addPostButton">
</form>

{% for post in posts %}
{% if post.image %}
<a href="{% url 'people:people' post.user.id %}">
    <img src="{{ post.user.avatar.url }}" alt="{{ post.user.username }}" widht="64" height="64" class="mr-3 float-left">
    <span>{{post.user.username}}</span>
</a>
<div class="mb-3">
    <div class="card-body">
        {% if post.description %}
        <p class="card-text">{{post.description}}</p>
        {% endif %}
        <img src="{{ post.image.url }}" alt="{{ post.user.username }}" height="250" width="40%">
        <p class="card-text"><small class="form-text text-muted">Published at {{ post.post_date|date:'d M Y' }} mins
                ago</small></p>
    </div>
</div>
{% elif post.description and not post.image %}
{{post.description}}
{% endif %}
{% endfor %}
{% endblock content %}