{% extends 'categories/base.html' %}

{% block title %}Get rid of fake new | Dfreemedia{% endblock title %}

{% block description %}Dfreemedia provides a great filtering system in this specific Category '{{category.title}}', only trusted sources are allowed to make any post here{% endblock description %}


{% block content %}

{% if user.is_trusted %}
<h1>YOU ARE  CONFIRMED</h1>
{% else %}
<small class="form-text text-muted">you can't make posts, but you can comment, reply, and view!</small>
{% endif %}

{% endblock content %}