body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('https://cdn.pixabay.com/photo/2015/07/27/19/10/resort-863129_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#noFriends {
    position: absolute;
    left: 30%;
    top: 40%;
    color: white;
}

#contacts {
    list-style: none;
}

#contacts li {
    margin-bottom: 30px;
}

#contacts a {
    text-decoration: none;
    color: white;
}

#contacts img {
    width: 64px;
    height: 64px;
    margin-right: 20px
}

#createGroupBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    background-color: #9FDB16;
    border: 0px;
}

.from-group {
    margin-bottom: 30px;
}

.modal-footer {
    margin-right: 10px
}