{% extends 'categories/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ group.title }} | Dfreemedia{% endblock title %}


{% block description %}

{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'social/chat.css' %}">
<div class="menu">
    <div class="back" id="back"><i class="fa fa-chevron-left"></i>
        <img src="{{ group.image.url }}" alt="User Image" width="64" height="64" id="friendAvatar">
    </div>
    <div class="name">{{ group.title }}</div>
    <div class="last">{% if group.description %}{{ group.description }}{% endif %}</div>
    <button class="btn float-right mr-3" data-toggle="modal" data-target="#sendFile"><i class="fas fa-paperclip"
            style="color: white; font-size:36px;"></i></button>
</div>
<ul class="list-group list-group-horizontal fixed-top" style="margin-top: 50px">
    <li class="list-group-item btn active areaItem">All</li>
    {% for area in areas %}
    <li class="list-group-item btn areaItem">
        <a class="btn" href="{% url 'social:load_area' group.id area.id %}">
            {{ area.name }}
        </a>
    </li>
    {% endfor %}
</ul>
<br>
<br>
<ol class="chat">
    <audio id="notificationSound">
        <source src="{% static 'social/notificationsound.wav' %}" type="audio/wav">
        <source src="{% static 'social/notificationsound.wav' %}" type="audio/mp3">
        <source src="{% static 'social/notificationsound.wav' %}" type="audio/ogg">
        <source src="{% static 'social/notificationsound.wav' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    {% for message in chat_messages %}
    <li class="{% if message.message_sender == user %}self{% else %}other{% endif %} message"
        data-pk="{{ message.id }}">
        <div class="avatar">
            {% if message.message_sender.who_see_avatar == 'everyone' %}
            <img src="{{message.message_sender.avatar.url}}" alt="User Image" width="64" height="64">
            {% elif message.message_sender.who_see_avatar == 'friends' and user in message.message_sender.friends.all %}
            <img src="{{message.message_sender.avatar.url}}" alt="User Image" width="64" height="64">
            {% elif message.message_sender == user %}
            <img src="{{message.message_sender.avatar.url}}" alt="User Image" width="64" height="64">
            {% else %}
            <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image" width="64" height="64">
            {% endif %}
        </div>
        <div class="msg">
            <p class="alert-secondary">{{ message.message_sender.username }} -
                {% if not message.area.name %}All{% else %}{{ message.area.name }}{% endif %}</p>
            {% if message.message %}
            <p>{{ message.message }}</p>
            {% elif message.image %}
            <img src="{{ message.image.url }}" draggable="false" style="max-width:450px; max-height:349px;"
                loading="lazy">
            {% elif message.file %}
            <a href="{{ message.file.url }}" download>
                <p><i class="fas fa-download" style="font-size:30px"></i> <span>{{ message.file.url }}</span></p>
            </a>
            {% elif message.video %}
            <video controls preload="none" draggable="false" style="max-width:450px; max-height:349px;">
                <source src="{{ message.video.url }}" type="video/mp4">
                <source src="{{ message.video.url }}" type="video/ogg">
                Your browser does not support the video tag.
            </video>
            {% elif message.audio %}
            <audio controls preload="none" draggable="false" style="max-width:450px; max-height:349px;"
                class="messageAudio">
                <source src="{{ message.audio.url }}" type="audio/mp4">
                <source src="{{ message.audio.url }}" type="audio/ogg">
                Your browser does not support the video tag.
            </audio>
            <br>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Speed
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="btn audioPlayback">0.5</button>
                <button class="btn audioPlayback">1</button>
                <button class="btn audioPlayback">1.5</button>
                <button class="btn audioPlayback">1.75</button>
                <button class="btn audioPlayback">2</button>
            </div>
            {% endif %}
            <time>{{ message.date|timesince }} ago</time>
        </div>
    </li>
    {% endfor %}

</ol>
<form action="{% url 'social:send_group_message' group.id %}" method="get" id="sendForm">
    <input class="textarea" id="messageInput" type="text" name="message" placeholder="Type here!" />
    <div class="emojis">
        <input type="checkbox" name="is_important" id="is_important">
    </div>
    <div id="send"><i class="far fa-paper-plane" style="font-size:30px; color:white;"></i></div>
    <select id="id_area_name" name='id_area_name'>
        <option value="None">All</option>
        {% for area in areas %}
        <option value="{{ area.id }}">{{ area.name }}</option>
        {% endfor %}
    </select>

</form>
<!-- Group menu -->
<div class="modal fade" id="groupMenu" tabindex="-1" role="dialog" aria-labelledby="groupMenuLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="groupMenuLabel">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item active btn groupOption">Members</li>
                        <li class="list-group-item btn groupOption">Invite</li>
                        <li class="list-group-item btn groupOption">Settings</li>
                    </ul>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="groupMembers" class="groupItem">
                    <h4>{{ group.members.all.count }} Member</h4>
                    <ul class="list-unstyled">
                        {% for member in group.members.all %}
                        <li class="media">
                            <a href="{% url 'people:people' member.id %}" target="_blank">
                                {% if member.who_see_avatar == 'everyone' %}
                                <img src="{{member.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="rounded-circle">
                                {% elif member.who_see_avatar == 'friends' and user in member.friends.all %}
                                <img src="{{member.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="rounded-circle">
                                {% elif member == user %}
                                <img src="{{member.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="rounded-circle">
                                {% else %}
                                <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image" width="64"
                                    height="64" class="rounded-circle">
                                {% endif %}
                            </a>

                            <div class="media-body">
                                <div class="float-right">
                                    <!-- Control members -->
                                    {% if not member == user and not member == group.author and user in group.group_admins.all %}
                                    {% if not member in group.group_admins.all %}
                                    <a href="{% url 'social:hire_member' group.id member.id %}"
                                        class="btn hireMember"><i class="fas fa-arrow-up"
                                            style="font-size: 24px; color: green"></i>
                                        Make admin</a>
                                    <a href="{% url 'social:kick_member' group.id member.id %}"
                                        onclick="return confirm('Kick {{ member.username }}?')"
                                        class="btn kickMember"><i class="fas fa-sign-out-alt"
                                            style="font-size: 24px; color: red"></i> kick</a>
                                    <!-- member admin -->
                                    {% else %}
                                    {% if user == group.author %}
                                    <a href="{% url 'social:lower_member' group.id member.id %}"
                                        class='btn lowerMember'><i class="fas fa-arrow-down"
                                            style="font-size: 24px; color: rgb(128, 128, 128)"></i> Lower</a>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    <!-- Classification -->
                                    {% if member == group.author %}
                                    <span><i class="fas fa-crown" style="font-size: 24px; color: #EED974"></i> Owner
                                    </span>
                                    {% elif member in group.group_admins.all %}
                                    <span><i class="fas fa-tools" style="font-size: 24px"></i> Admin
                                    </span>
                                    {% endif %}
                                </div>
                                <h5 class="mt-0 mb-1">{{ member.username }}</h5>
                                {% if member.phone %}<i class="fas fa-phone-alt"></i>{{ member.phone }}{% endif %}
                                {% if member.email and member.show_email %}<i class="fas fa-envelope"></i>
                                {{ member.email }}{% endif %}
                                <p>{{member.bio}}</p>

                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="groupAddMember" class="groupItem">
                    <h4>Friends</h4>
                    <ul class="list-unstyled">
                        {% for friend in user.friends.all %}
                        {% if not friend in group.members.all %}
                        <li class="media">
                            <a href="{% url 'people:people' friend.id %}" target="_blank">
                                {% if friend.who_see_avatar == 'everyone' %}
                                <img src="{{friend.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="rounded-circle">
                                {% elif friend.who_see_avatar == 'friends' and user in friend.friends.all %}
                                <img src="{{friend.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="rounded-circle">
                                {% elif friend == user %}
                                <img src="{{friend.avatar.url}}" alt="User Image" width="64" height="64"
                                    class="rounded-circle">
                                {% else %}
                                <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image" width="64"
                                    height="64" class="rounded-circle">
                                {% endif %}
                            </a>

                            <div class="media-body">
                                {% if friend.who_add_group == 'everyone' or friend.who_add_group == 'friends' %}
                                <a class="float-right inviteFriend btn"
                                    href="{% url 'social:send_group_invite' friend.id group.id %}">
                                    <i class="fas fa-user-plus" style="font-size: 36px; color: green;"></i> Invite
                                </a>
                                {% else %}
                                <p class="float-right"><i class="fas fa-shield-alt"
                                        style="font-size: 36px; color: red;"></i> You can't add</p>
                                {% endif %}
                                <h5 class="mt-0 mb-1">{{ friend.username }}</h5>
                                {% if friend.phone %}<i class="fas fa-phone-alt"></i>{{ friend.phone }}{% endif %}
                                {% if friend.email and friend.show_email %}<i class="fas fa-envelope"></i>
                                {{ friend.email }}{% endif %}
                                <p>{{friend.bio}}</p>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <h4 class="d-inline">Or search user</h4>
                    <span>
                        <input type="text" name="q" id="id_search_user" class="from-control"
                            placeholder="Type username here...">
                    </span>
                    <ul class="list-unstyled inviteUserResults">

                    </ul>
                </div>
                <div id="groupSettings" class="groupItem">
                    <div class="d-block">
                        <h4 class="float-left">Areas</h4>
                        {% if user == group.author or user in group.group_admins.all %}
                        <form action="{% url 'social:create_area' group.id %}" method="GET" class="form-inline"
                            id="createAreaForm">
                            <button class="btn btn-success rounded-circle ml-5 float-left mr-2"><i class="fas fa-plus"
                                    style="font-size:30px;" id="createArea"></i></button>
                            <input type="text" name="name" id="id_name" class="form-group" required>
                        </form>
                        {% endif %}
                        <small class="form-text text-muted">Areas makes messages stay clean and organized, each message
                            should have an area, if it didn't it will be in "All"</small>
                    </div>

                    <ul class="list-group">
                        {% for area in areas %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ area.name }}
                            {% if user == group.author or user in group.group_admins.all %}
                            <a href="{% url 'social:delete_area' area.id %}" class="float-right d-inline deleteArea"
                                onclick="return confirm('Delete {{ area.name }}?')"
                                style="text-decoration:none; color: red; font-size:20px"><i
                                    class="fas fa-trash-alt"></i></a>
                        </li>

                        {% endif %}
                        {% endfor %}
                    </ul>
                    <hr>
                    <h4><i class="fas fa-edit"></i> Edit</h4>

                    {% if user == group.author or user in group.group_admins.all %}
                    <form action="{% url 'social:edit_group' group.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                    {% else %}
                    <div class="alert-info">
                        <h5>Only group admins can edit</h5>
                    </div>
                    {% endif %}

                    <hr>
                    <h4><i class="fas fa-exclamation-triangle"></i> Danger area</h4>
                    <br>
                    {% if user == group.author %}
                    <a class="btn btn-outline-danger float-left" href="{% url 'social:delete_group' group.id %}"
                        onclick="return confirm('{{ group.title }} has {{ group.members.count }} member. are you sure you want to delete it?')"><i
                            class="fas fa-trash-alt"></i> Delete Group</a>
                    {% endif %}
                    <a href="{% url 'social:leave_group' group.id %}" class="btn btn-outline-secondary ml-4"
                        onclick="return confirm('Leave {{ group.tite }}?')"><i class="fas fa-sign-out-alt"></i> Leave
                        Group</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Send file modal -->
<div class="modal fade" id="sendFile" tabindex="-1" aria-labelledby="sendFileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendFileLabel">Send File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- Send file -->
                    <form action="{% url 'social:send_group_file_message' group.id %}" method="post"
                        enctype="multipart/form-data" id="sendFileForm">
                        {% csrf_token %}
                        <input type="file" name="file" id="uploadFile" class="from-file" accept="*">

                        <input type="file" name="image" id="uploadImage" class="from-file" accept="image/*">
                        <input type="file" name="video" id="uploadVideo" class="from-file" accept="video/*"
                            style="display:none;" onchange="document.querySelector('#sendFileForm').submit()">
                        <input type="file" name="audio" id="uploadAudio" class="from-file" accept="audio/*"
                            style="display:none;" onchange="document.querySelector('#sendFileForm').submit()">
                    </form>
                    <!-- File -->
                    <span class="mr-3 btn d-inline" id="displayUploadFile">
                        <i class="far fa-file" style="font-size:24px"></i> Document
                    </span>

                    <!-- Send image -->
                    <span class="btn" id="displayUploadImage">
                        <i class="far fa-image" style="font-size:24px"></i> Image
                    </span>
                    <!-- Send video -->
                    <span class="btn" onclick="document.querySelector('#uploadVideo').click()">
                        <i class="fas fa-video" style="font-size:24px"></i> Video
                    </span>
                    <!-- Audio -->
                    <span class="btn" onclick="document.querySelector('#uploadAudio').click()">
                        <i class="fas fa-headphones-alt" style="font-size:24px"></i> Audio
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('load', function () {
            // Paginate messages
            let page = 1
            // Top scroll
            function topScroll() {
                if (window.top == window.self) {
                    $.ajax({
                        url: "{% url 'social:chat_group' group.id %}",
                        data: {
                            "page": page,
                        },
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {
                            let sender = "self"
                            let senderAvatar = "{{ user.avatar.url }}"
                            let senderUserName = "{{ user.username }}"
                            chat_messages = JSON.parse(response.chat_messages).reverse()
                            if (chat_messages.length > 0) {
                                page++
                                for (message of chat_messages) {
                                    let messageArea = "All"
                                    if (message.fields.area != null) {
                                        messageArea = $('.areaItem').eq(message.fields.area)
                                            .children().eq(0).html()
                                    }
                                    let dateToString = d =>
                                        `${d.getFullYear()}-${('00' + (d.getMonth() + 1)).slice(-2)}-${('00' + d.getDate()).slice(-2)}`
                                    let messageDate = new Date(Date.parse(message.fields
                                        .date))
                                    let date = dateToString(messageDate)
                                    // Other member
                                    if (message.fields.message_sender !=
                                        "{{ user.id }}") {
                                        sender = "other"
                                        $.ajax({
                                            url: "{% url 'userpage:get_user_by_id' %}",
                                            data: {
                                                'pk': message.fields
                                                    .message_sender,
                                            },
                                            method: 'get',
                                            dataType: 'json',
                                            async: false,
                                            success: function (response) {
                                                senderAvatar = response.user
                                                    .avatar
                                                senderUserName = response
                                                    .user.username
                                            }
                                        })
                                    }
                                    // End other member
                                    $('.chat').prepend(`
                                    <li class="${sender} message" data-pk="${message.pk}">
                    <div class="avatar">
                        <img src="${senderAvatar}" alt="User Image" width="64" height="64">
                    </div>
                    <div class="msg">
                        <p class="alert-secondary">${senderUserName} - ${messageArea}</p>
                        <p>${message.fields.message}</p>
                        <time>${date}</time>
                    </div>
                </li>
                                    `)
                                }
                            }
                        }
                    })
                }
            }
            topScroll();
            window.addEventListener('scroll', () => topScroll())
            // End paginate messages

            // Return back
            $('#back').click(() => window.history.back())
            // Group menu
            $('#groupAddMember').hide()
            $('#groupSettings').hide()
            $('.name,.last').click(function (e) {
                e.preventDefault();
                $("#groupMenu").modal('show');
            })
            $('.groupOption').click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    $('.groupOption').removeClass('active')
                    $(this).addClass('active')
                    $('.groupItem').hide()
                    if ($(this).html() == 'Members') {
                        $('#groupMembers').show()
                    } else if ($(this).html() == 'Invite') {
                        $('#groupAddMember').show()
                    } else if ($(this).html() == 'Settings') {
                        $('#groupSettings').show()
                    }
                }
            })
            // End group menu

            // Send invite
            $('.inviteFriend').click(function (e) {
                $(this).parent().parent().fadeOut()
                e.preventDefault();
                $.ajax({
                    url: $(this).attr('href'),
                    data: {},
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {}
                })
            })
            // End send invite

            // Send file
            $('#uploadFile').css('display', 'none')
            $('#uploadFile').change(function (e) {
                $('#sendFileForm').submit()
            })
            $('#displayUploadFile').click(function (e) {
                e.preventDefault();
                $('#uploadFile').click()
            })
            // End send file
            // Send image
            $('#uploadImage').css('display', 'none')
            $('#uploadImage').change(function (e) {
                $('#sendFileForm').submit()
            })
            $('#displayUploadImage').click(function (e) {
                $('#uploadImage').click()
            })
            // end sendimage

            // Send message
            $('#send').click(function (e) {
                $('#sendForm').submit();
            })
            $('#sendForm').submit(function (e) {
                e.preventDefault();
                let messageInput = $('#messageInput').val()
                if (!messageInput == '') {
                    // last message id
                    let newLastMessageId = ''
                    try {
                        let messages = document.getElementsByClassName('message')
                        newLastMessageId = parseInt(messages[messages.length - 1]
                            .getAttribute(
                                'data-pk')) + 1
                    } catch {
                        newLastMessageId = 1
                    }

                    // end last message id
                    let isImportant = "False"
                    if ($('#is_important').is(':checked')) {
                        isImportant = "True"
                    }
                    // Todo
                    $('.chat').append(`
                        <li class="self message" data-pk="${newLastMessageId}">
                    <div class="avatar">
                        <img src="{{ user.avatar.url }}" alt="User Image" width="64" height="64">
                    </div>
                    <div class="msg">
                        <p>${messageInput}</p>
                        <time>Now</time>
                    </div>
                </li>
                        `)
                    $('#messageInput').val('')
                    document.getElementById('notificationSound').play()
                    window.scrollTo(0, document.body.scrollHeight);
                    $.ajax({
                        url: $('#sendForm').attr('action'),
                        data: {
                            'message': messageInput,
                            'is_important': isImportant,
                            'area': $('#id_area_name').val()
                        },
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {}
                    })
                }
            })
            // End send message

            // Load new messages
            setInterval(() => {
                let lastMessageId = ''
                try {
                    let messages = document.getElementsByClassName('message')
                    lastMessageId = messages[messages.length - 1].getAttribute('data-pk')
                } catch (error) {
                    lastMessageId = 0
                }
                $.ajax({
                    url: "{% url 'social:chat_group' group.id %}",
                    data: {
                        'action': 'load_new_messages',
                        'last_message_id': lastMessageId,
                    },
                    method: 'get',
                    async: false,
                    dataType: 'json',
                    success: function (response) {
                        chat_messages = JSON.parse(response.chat_messages)
                        if (response.chat_messages.length > 0) {
                            let newLastMessageId = ''
                            for (message of chat_messages) {
                                if (message.fields.message_sender !=
                                    "{{ user.id }}") {
                                    let senderAvatar = ''
                                    let senderUsername = ''
                                    $.ajax({
                                        url: "{% url 'userpage:get_user_by_id' %}",
                                        data: {
                                            'pk': message.fields
                                                .message_sender,
                                        },
                                        method: 'get',
                                        dataType: 'json',
                                        async: false,
                                        success: function (response) {
                                            senderAvatar = response.user
                                                .avatar
                                            senderUsername = response
                                                .user
                                                .username
                                        }
                                    })
                                    let messageContent = ''
                                    if (message.fields.message) {
                                        messageContent =
                                            `<p>${message.fields.message }</p>`
                                    } else if (message.fields.image) {
                                        messageContent =
                                            `<img src="/media/${message.fields.image}" draggable="false" style="max-width:450px; max-height:349px;" loading="lazy">`
                                    } else if (message.fields.file) {
                                        messageContent = `<a href="/media/${message.fields.file}" download>
                     <p><i class="fas fa-download" style="font-size:30px"></i> <span>${message.fields.file}</span></p>
                 </a>`
                                    } else if (message.fields.video) {
                                        messageContent = `
                                        <video controls preload="none" draggable="false" style="max-width:450px; max-height:349px;">
                <source src="/media/${message.fields.video}" type="video/mp4">
                <source src="/media/${message.fields.video}" type="video/ogg">
                Your browser does not support the video tag.
            </video>
                                        `
                                    } else if (message.fields.audio) {
                                        messageContent = `
                                        <audio controls preload="none" draggable="false" style="max-width:450px; max-height:349px;"
                class="messageAudio">
                <source src="/media/${message.fields.audio}" type="audio/mp4">
                <source src="${message.fields.audio}" type="audio/ogg">
                Your browser does not support the video tag.
            </audio>
            <br>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Speed
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="btn audioPlayback">0.5</button>
                <button class="btn audioPlayback">1</button>
                <button class="btn audioPlayback">1.5</button>
                <button class="btn audioPlayback">1.75</button>
                <button class="btn audioPlayback">2</button>
            </div>
                                        `
                                    }
                                    newLastMessageId = message.pk
                                    $('.chat').append(`
                        <li class="other message" data-pk="${newLastMessageId}">
                    <div class="avatar">
                        <img src="${senderAvatar}" alt="User Image" width="64" height="64">
                    </div>
                    <div class="msg">
                        <p class="alert-secondary">${senderUsername}</p>
                        ${messageContent}
                        <time>Now</time>
                    </div>
                </li>
                        `)
                                    document.querySelector('#notificationSound')
                                        .play();
                                }
                            }

                            function changePlayback() {
                                $('.audioPlayback').click(function (e) {
                                    let audios = document.querySelectorAll(
                                        '.messageAudio')
                                    for (audio of audios) {
                                        audio.playbackRate = $(this).html()
                                    }
                                })
                            }
                            var g = document.createElement('script')
                            var s = document.getElementsByTagName('script')[0]
                            g.text = changePlayback()
                            s.parentNode.insertBefore(g, s)
                        }
                    }
                })
            }, 3500);
            // End load new messages

            // Area
            // Create area
            $('#createAreaForm').submit(function (e) {
                e.preventDefault();
                areaName = $('#id_name').val()
                $.ajax({
                    url: $('#createAreaForm').attr('action'),
                    data: {
                        'name': $('#id_name').val(),
                    },
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {
                        // $('#').append(``) // todo
                        $('#createAreaForm').parent().prepend(
                            '<p class="alert-info">Please refresh the page to see changes</p>'
                        )
                    }
                })
            })
            $('.deleteArea').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: $('.deleteArea').attr('href'),
                    data: {

                    },
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {
                        $('#createAreaForm').parent().prepend(
                            '<p class="alert-info">Please refresh the page to see changes</p>'
                        )
                    }
                })
            })
            // End create area
            // End area

            // Search/invite all users
            // Search users
            $('#id_search_user').keyup(function (e) {
                $('.inviteUserResults').html(`<div class="spinner-border text-warning" role="status">
                                        <span class="sr-only">Loading...</span>
                                        </div>`)

                $.ajax({
                    url: "{% url 'social:search_users' %}",
                    data: {
                        'q': $('#id_search_user').val(),
                    },
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {
                        $('.inviteUserResults').html('')

                        for (result of response.results) {
                            let invite = `<a class="float-right inviteFriend btn"
                                    href="/social/send_group_invite/${result.id}/{{ group.id }}/">
                                    <i class="fas fa-user-plus" style="font-size: 36px; color: green;"></i> Invite
                                </a>`
                            if (!result.is_allowed_group_invite) {
                                invite = `<p class="float-right"><i class="fas fa-shield-alt"
                                        style="font-size: 36px; color: red;"></i> You can't add</p>`
                            }
                            let phone = ''
                            let email = ''
                            if (result.phone) {
                                phone =
                                    `<i class="fas fa-phone-alt"></i>${result.phone}`
                            }
                            if (result.email) {
                                email =
                                    `<i class="fas fa-envelope"></i>${result.email}`
                            }
                            $('.inviteUserResults').append(`
                        <li class="media">
                            <a href="/people/${result.id}" target="_blank">
                                <img src="${result.avatar}" alt="User Image" width="64"
                                    height="64" class="rounded-circle">
                            </a>
                            <div class="media-body">
                            ${invite}
                                <h5 class="mt-0 mb-1">${ result.username }</h5>
                                ${phone}
                                ${email}
                                <p>${result.bio}</p>
                            </div>
                        </li>
                            `)
                        }

                        function invite() {
                            $('.inviteFriend').click(function (e) {
                                $(this).parent().parent().fadeOut()
                                e.preventDefault();
                                $.ajax({
                                    url: $(this).attr('href'),
                                    data: {},
                                    method: 'get',
                                    dataType: 'json',
                                    success: function (response) {}
                                })
                            })
                        }
                        var g = document.createElement('script')
                        var s = document.getElementsByTagName('script')[0]
                        s.text = invite()
                        s.parentNode.insertBefore(g, s)
                    }
                })

            })
            // Paginate users
            // End search/invite all users
            // Control users
            $('.kickMember').click(function (e) {
                e.preventDefault();
                let thisElement = $(this)
                $.ajax({
                    url: thisElement.attr('href'),
                    data: {},
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {
                        thisElement.parent().parent().parent().fadeOut()
                    }
                })
            })
            $('.hireMember').click(function (e) {
                e.preventDefault();
                let thisElement = $(this)
                $.ajax({
                    url: thisElement.attr('href'),
                    data: {},
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {
                        alert('Success, please refresh the page to see changes')
                    }
                })
            })
            $('.lowerMember').click(function (e) {
                e.preventDefault();
                let thisElement = $(this)
                $.ajax({
                    url: thisElement.attr('href'),
                    data: {},
                    method: 'get',
                    dataType: 'json',
                    success: function (response) {
                        alert('Lowered, please refresh the page to see changes')
                    },
                })
            })
            // End control users
            $('.audioPlayback').click(function (e) {
                let audios = document.querySelectorAll(`.messageAudio`)
                for (audio of audios) {
                    audio.playbackRate = $(this).html();
                }
            })
        });
    });
</script>
{% endblock content %}