{% extends 'categories/base.html' %}
{% load static %}
{% block title %} {{friend.username}} | Chat {% endblock title %}
{% block searchbar %}

{% endblock searchbar %}
{% block content %}

<style>
    * {
        font-family: 'Avenir';
    }

    .bubbleWrapper {
        padding: 10px 10px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-self: flex-end;
        color: #fff;
    }

    .inlineContainer {
        display: inline-flex;
    }

    .inlineContainer.own {
        flex-direction: row-reverse;
    }

    .inlineIcon {
        width: 50px;
        object-fit: contain;
    }

    .ownBubble {
        min-width: 60px;
        max-width: 700px;
        padding: 14px 18px;
        margin: 6px 8px;
        background-color: #5b5377;
        border-radius: 16px 16px 0 16px;
        border: 1px solid #443f56;

    }

    .otherBubble {
        min-width: 60px;
        max-width: 700px;
        padding: 14px 18px;
        margin: 6px 8px;
        background-color: #6C8EA4;
        border-radius: 16px 16px 16px 0;
        border: 1px solid #54788e;

    }

    .own {
        align-self: flex-end;
    }

    .other {
        align-self: flex-start;
    }

    span.own,
    span.other {
        font-size: 14px;
        color: grey;
    }
</style>




{% for chat_message in chat_messages %}

{% if chat_message.message_sender == user %}
<div class="bubbleWrapper">
    <div class="inlineContainer own">
        <img class="inlineIcon" src="{{ user.avatar.url }}">
        <div class="ownBubble own">
            {{ chat_message.message }}
        </div>
    </div><span class="own">{{ chat_message.sent_date }}</span>
</div>


{% elif chat_message.message_sender == friend %}
<div class="bubbleWrapper">
    <div class="inlineContainer">
        <img class="inlineIcon" src="{{ friend.avatar.url }}">
        <div class="otherBubble other">
            {{ chat_message.message }}
        </div>
    </div><span class="other">{{ chat_message.sent_date }}</span>
</div>
{% endif %}



{% endfor %}




<form action="" method="post" class="form-inline" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="message" class="form-control" maxlength="50000" required>
    <input type="submit" value="Send" class="btn btn-success">
</form>
{% endblock content %}