{% extends 'categories/base.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block description %}

{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'social/chat.css' %}">
<div class="menu">
    <div class="back" id="back"><i class="fa fa-chevron-left"></i>
        {% if friend.who_see_avatar == 'everyone' %}
        <img src="{{friend.avatar.url}}" alt="User Image" width="64" height="64" id="friendAvatar">
        {% elif friend.who_see_avatar == 'friends' and user in friend.friends.all %}
        <img src="{{friend.avatar.url}}" alt="User Image" width="64" height="64" id="friendAvatar">
        {% elif friend == user %}
        <img src="{{friend.avatar.url}}" alt="User Image" width="64" height="64" id="friendAvatar">
        {% else %}
        <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image" width="64" height="64" id="friendAvatar">
        {% endif %}
    </div>
    <div class="name">{{ friend.username }}</div>
    <div class="last">Bio: {{ friend.bio }} -Phone: {{ friend.phone }} -Email: {{ friend.email }} </div>
    <button class="btn float-right mr-3" data-toggle="modal" data-target="#sendFile"><i class="fas fa-paperclip"
            style="color: white; font-size:36px;"></i></button>
</div>
<ol class="chat">
    <audio id="notificationSound">
        <source src="{% static 'social/notificationsound.wav' %}" type="audio/wav">
        <source src="{% static 'social/notificationsound.wav' %}" type="audio/mp3">
        <source src="{% static 'social/notificationsound.wav' %}" type="audio/ogg">
        <source src="{% static 'social/notificationsound.wav' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    {% for message in chat_messages %}
    <li class="{% if message.message_sender == friend %}other {% else %}self{% endif %} message"
        data-pk="{{message.id}}">
        <div class="avatar">
            {% if message.message_sender.who_see_avatar == 'everyone' %}
            <img src="{{message.message_sender.avatar.url}}" alt="User Image" width="64" height="64">
            {% elif message.message_sender.who_see_avatar == 'friends' and user in message.message_sender.friends.all %}
            <img src="{{message.message_sender.avatar.url}}" alt="User Image" width="64" height="64">
            {% elif message.message_sender == user %}
            <img src="{{message.message_sender.avatar.url}}" alt="User Image" width="64" height="64">
            {% else %}
            <img src="/media/profile_images/DefaultUserImage.jpg" alt="User Image" width="64" height="64">
            {% endif %}
        </div>
        <div class="msg">
            {% if message.message %}
            <p>{{ message.message }}</p>
            {% elif message.image %}
            <img src="{{ message.image.url }}" draggable="false" style="max-width:450px; max-height:349px;"
                loading="lazy">
            {% elif message.file %}
            <a href="{{ message.file.url }}" download>
                <p><i class="fas fa-download" style="font-size:30px"></i> <span>{{ message.file.url }}</span></p>
            </a>
            {% elif message.video %}
            <video controls preload="none" draggable="false" style="max-width:450px; max-height:349px;">
                <source src="{{ message.video.url }}" type="video/mp4">
                <source src="{{ message.video.url }}" type="video/ogg">
                Your browser does not support the video tag.
            </video>
            {% elif message.audio %}
            <audio controls preload="none" draggable="false" style="max-width:450px; max-height:349px;"
                class="messageAudio">
                <source src="{{ message.audio.url }}" type="audio/mp4">
                <source src="{{ message.audio.url }}" type="audio/ogg">
                Your browser does not support the video tag.
            </audio>
            <br>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Speed
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="btn audioPlayback">0.5</button>
                <button class="btn audioPlayback">1</button>
                <button class="btn audioPlayback">1.5</button>
                <button class="btn audioPlayback">1.75</button>
                <button class="btn audioPlayback">2</button>
            </div>
            {% endif %}
            <time>{{ message.date|timesince }} ago</time>
        </div>
    </li>
    {% endfor %}

</ol>
<form action="{% url 'social:send_friend_message' friend.id %}" method="get" id="sendForm">
    <input class="textarea" id="messageInput" type="text" name="message" placeholder="Type here!" />
    <div class="emojis">
        <input type="checkbox" name="is_important" id="is_important">
    </div>
    <div id="send"><i class="far fa-paper-plane" style="font-size:30px; color:white;"></i></div>
</form>

<!-- Send file modal -->
<div class="modal fade" id="sendFile" tabindex="-1" aria-labelledby="sendFileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendFileLabel">Send file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- Send file -->
                    <form action="{% url 'social:send_friend_file_message' friend.id %}" method="post"
                        enctype="multipart/form-data" id="sendFileForm">
                        {% csrf_token %}
                        <input type="file" name="file" id="uploadFile" class="from-file" accept="*">

                        <input type="file" name="image" id="uploadImage" class="from-file" accept="image/*">
                        <input type="file" name="video" id="uploadVideo" class="from-file" accept="video/*"
                            style="display:none;" onchange="document.querySelector('#sendFileForm').submit()">
                        <input type="file" name="audio" id="uploadAudio" class="from-file" accept="audio/*"
                            style="display:none;" onchange="document.querySelector('#sendFileForm').submit()">
                    </form>
                    <span class="mr-3 btn d-inline" id="displayUploadFile">
                        <i class="far fa-file" style="font-size:24px"></i> Document
                    </span>
                    <!-- Send image -->
                    <span class="btn" id="displayUploadImage">
                        <i class="far fa-image" style="font-size:24px"></i> Image
                    </span>
                    <!-- Send video -->
                    <span class="btn" onclick="document.querySelector('#uploadVideo').click()">
                        <i class="fas fa-video" style="font-size:24px"></i> Video
                    </span>
                    <!-- Audio -->
                    <span class="btn" onclick="document.querySelector('#uploadAudio').click()">
                        <i class="fas fa-headphones-alt" style="font-size:24px"></i> Audio
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('load', function () {
            window.scrollTo(0, document.body.scrollHeight)
            // Go back
            $('#back').click(function (e) {
                e.preventDefault();
                window.history.back();
            })
            let page = 1
            // Top scroll
            function topScroll() {
                if (window.top == window.self) {
                    $.ajax({
                        url: "{% url 'social:chat_friend' friend.id %}",
                        data: {
                            "page": page,
                        },
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {
                            let sender = "self"
                            let senderAvatar = "{{ user.avatar.url }}"
                            chat_messages = JSON.parse(response.chat_messages).reverse()
                            if (chat_messages.length > 0) {
                                page++
                                for (message of chat_messages) {
                                    let dateToString = d =>
                                        `${d.getFullYear()}-${('00' + (d.getMonth() + 1)).slice(-2)}-${('00' + d.getDate()).slice(-2)}`
                                    let messageDate = new Date(Date.parse(message.fields
                                        .date))
                                    let date = dateToString(messageDate)
                                    if (message.fields.message_sender ==
                                        "{{ friend.id }}") {
                                        sender = "other"
                                        senderAvatar = $('#friendAvatar').attr('src')
                                    }
                                    $('.chat').prepend(`
                                    <li class="${sender} message" data-pk="${message.pk}">
                    <div class="avatar">
                        <img src="${senderAvatar}" alt="User Image" width="64" height="64">
                    </div>
                    <div class="msg">
                        <p>${message.fields.message}</p>
                        <time>${date}</time>
                    </div>
                </li>
                                    `)
                                }
                            }
                        }
                    })
                }
            }
            topScroll();
            window.addEventListener('scroll', () => topScroll())
            // Send file
            $('#uploadFile').css('display', 'none')
            $('#uploadFile').change(function (e) {
                $('#sendFileForm').submit()
            })
            $('#displayUploadFile').click(function (e) {
                e.preventDefault();
                $('#uploadFile').click()
            })
            // End send file
            // Send image
            $('#uploadImage').css('display', 'none')
            $('#uploadImage').change(function (e) {
                $('#sendFileForm').submit()
            })
            $('#displayUploadImage').click(function (e) {
                $('#uploadImage').click()
            })
            // end sendimage
            // Send
            $('#send').click(function (e) {
                e.preventDefault();
                $('#sendForm').submit();
            })
            $('#sendForm').submit(function (e) {
                e.preventDefault();
                let newLastMessageId = ''
                try {
                    let messages = document.getElementsByClassName('message')
                    newLastMessageId = parseInt(messages[messages.length - 1]
                        .getAttribute(
                            'data-pk')) + 1
                } catch {
                    newLastMessageId = 1
                }
                let messageInput = $('#messageInput').val()
                let is_important = "False"
                if ($('#is_important').is(':checked')) {
                    is_important = "True"
                }
                if (!messageInput == '') {
                    $('.chat').append(`
                        <li class="self message" data-pk="${newLastMessageId}">
                    <div class="avatar">
                        <img src="{{ user.avatar.url }}" alt="User Image" width="64" height="64">
                    </div>
                    <div class="msg">
                        <p>${messageInput}</p>
                        <time>Now</time>
                    </div>
                </li>
                        `)
                    $('#messageInput').val('')
                    document.getElementById('notificationSound').play()
                    window.scrollTo(0, document.body.scrollHeight);
                    $.ajax({
                        url: $('#sendForm').attr('action'),
                        data: {
                            'message': messageInput,
                            'is_important': is_important,
                        },
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {}
                    })
                }
            })
            // Load new messages
            setInterval(() => {
                let lastMessageId = ''
                try {
                    let messages = document.getElementsByClassName('message')
                    lastMessageId = messages[messages.length - 1].getAttribute(
                        'data-pk')
                } catch (error) {
                    lastMessageId = 0
                }
                $.ajax({
                    url: "{% url 'social:chat_friend' friend.id %}",
                    data: {
                        'action': 'load_new_messages',
                        'last_message_id': lastMessageId,
                    },
                    method: 'get',
                    async: false,
                    dataType: 'json',
                    success: function (response) {
                        chat_messages = JSON.parse(response.chat_messages)
                        if (response.chat_messages.length > 0) {
                            let newLastMessageId = ''
                            for (message of chat_messages) {
                                if (message.fields.message_sender !=
                                    "{{ user.id }}") {
                                    let messageContent = ''
                                    if (message.fields.message) {
                                        messageContent =
                                            `<p>${message.fields.message }</p>`
                                    } else if (message.fields.image) {
                                        messageContent =
                                            `<img src="/media/${message.fields.image}" draggable="false" style="max-width:450px; max-height:349px;" loading="lazy">`
                                    } else if (message.fields.file) {
                                        console.log(message.fields.file)
                                        messageContent = `<a href="/media/${message.fields.file}" download>
                     <p><i class="fas fa-download" style="font-size:30px"></i> <span>${message.fields.file}</span></p>
                 </a>`
                                    } else if (message.fields.video) {
                                        messageContent = `
                                        <video controls preload="none" draggable="false" style="max-width:450px; max-height:349px;">
                <source src="/media/${message.fields.video}" type="video/mp4">
                <source src="/media/${message.fields.video}" type="video/ogg">
                Your browser does not support the video tag.
            </video>
                                        `
                                    } else if (message.fields.audio) {
                                        messageContent = `
                                        <audio controls preload="none" draggable="false" style="max-width:450px; max-height:349px;"
                class="messageAudio">
                <source src="/media/${message.fields.audio}" type="audio/mp4">
                <source src="${message.fields.audio}" type="audio/ogg">
                Your browser does not support the video tag.
            </audio>
            <br>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Speed
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="btn audioPlayback">0.5</button>
                <button class="btn audioPlayback">1</button>
                <button class="btn audioPlayback">1.5</button>
                <button class="btn audioPlayback">1.75</button>
                <button class="btn audioPlayback">2</button>
            </div>
                                        `
                                    }
                                    newLastMessageId = message.pk
                                    $('.chat').append(`
                        <li class="other message" data-pk="${newLastMessageId}">
                    <div class="avatar">
                        <img src="${$('#friendAvatar').attr('src')}" alt="User Image" width="64" height="64">
                    </div>
                    <div class="msg">
                        ${messageContent}
                        <time>Now</time>
                    </div>
                </li>
                        `)
                                    document.querySelector('#notificationSound')
                                        .play();
                                }
                            }

                            function changePlayback() {
                                $('.audioPlayback').click(function (e) {
                                    let audios = document.querySelectorAll(
                                        '.messageAudio')
                                    for (audio of audios) {
                                        audio.playbackRate = $(this).html()
                                    }
                                })
                            }
                            var g = document.createElement('script')
                            var s = document.getElementsByTagName('script')[0]
                            g.text = changePlayback()
                            s.parentNode.insertBefore(g, s)
                        }
                    }
                })
            }, 3300);
            $('.audioPlayback').click(function (e) {
                let audios = document.querySelectorAll(`.messageAudio`)
                for (audio of audios) {
                    audio.playbackRate = $(this).html();
                }
            })
        })
    })
</script>
{% endblock content %}