{% extends 'categories/base.html' %}

{% block title %}All People{% endblock title %}

{% block searchbar %}
<form class="form-inline" action="{% url 'people:all_peopleresults' %}" method="GET">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>
{% endblock searchbar %}

{% block content %}
<div class="card card-default" id="card_contacts">
    <div id="contacts" class="panel-collapse collapse show" aria-expanded="true">
        <ul class="list-group pull-down" id="contact-list">
            {% for group in groups %}
            <li class="list-group-item">
                <div class="row w-100">
                    <div class="col-12 col-sm-6 col-md-3 px-0">
                        <a href="{% url 'social:view_group' group.id %}">
                            <img src="{{ group.image.url }}" alt="{{ group.title }}"
                                class="img-fluid rounded-circle d-block mx-auto" height="73" width="73">
                        </a>
                    </div>

                    <a href="{% url 'social:view_group' group.id %}">
                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                            <label class="name lead">{{ group.title }}</label>
                            <br>
                            <span class="fa fa-fw fa-envelope fa-fw text-muted" data-toggle="tooltip" title="Bio"
                                data-original-title="{{ group.description }}"></span>
                            <span class="small text-truncate">{{ group.description|striptags|truncatechars:100 }}</span>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}