{% extends 'categories/base.html' %}
{% load static %}
{% block title %} {{chat_group.title}} | Group {% endblock title %}
{% block searchbar %}

{% endblock searchbar %}
{% block content %}
<link rel="stylesheet" href="{% static 'social/chatstyle.css' %}">

{% for message in chat_messages %}
{% if message.message_sender == user %}
<div class="bubbleWrapper">
    <div class="inlineContainer own">
        <!-- todo Fix AVATAR PRIVACY -->
        {% if user.who_see_avatar == 'everyone' %}
        <img class="inlineIcon" src="{{ user.avatar.url }}">
        {% else %}
        <img class="inlineIcon" src="/media/profile_images/DefaultUserImage.jpg" alt={{user.username}}>
        {% endif %}
        <div class="ownBubble own">
            <a href="{% url 'people:people' message.message_sender.id %}" style="text-decoration: none; color: orange">
                {{ message.message_sender.username }}
            </a>
            <p>{{ message.message }}</p>
        </div>
    </div><span class="own">{{ message.sent_date }}</span>
</div>


{% else %}
<div class="bubbleWrapper">
    <div class="inlineContainer">
        {% if friend.who_see_avatar == 'everyone' or friend.who_see_avatar == 'friends' %}
        <img class="inlineIcon" src="{{ friend.avatar.url }}">
        {% else %}
        <img class="inlineIcon" src="/media/profile_images/DefaultUserImage.jpg" alt="{{firend.username}}">
        {% endif %}
        <div class="otherBubble other">
            <a href="{% url 'people:people' message.message_sender.id %}" style="text-decoration: none; color: rgb(38, 255, 9)">
                {{ message.message_sender.username }}
            </a>
            <p>{{ message.message }}</p>
        </div>
    </div><span class="other">{{ message.sent_date }}</span>
</div>
{% endif %}



{% endfor %}




<form action="" method="post" class="form-inline" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="message" class="form-control" maxlength="50000" placeholder="Write something to send"
        required>
    <button type="submit" id="sendBtn"> <img src="{% static 'categories/SendButton.png' %}" width="150" alt="Send"
            loading="lazy">
    </button>
</form>
{% endblock content %}